@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
    max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width: 100%;
}
.Up {
	-webkit-animation:up cubic-bezier(.67,.09,0,1) 1s forwards;
	-moz-animation:up cubic-bezier(.67,.09,0,1) 1s forwards;
	-o-animation:up cubic-bezier(.67,.09,0,1) 1s forwards;
	animation:up cubic-bezier(.67,.09,0,1) 1s forwards;
}
.Blur {
	-webkit-animation:blur ease 0.25s forwards;
	-moz-animation:blur ease 0.25s forwards;
	-o-animation:blur ease 0.25s forwards;
	animation:blur ease 0.25s forwards;
}
.Shower {
	right:0;
}
.GreenBorder {
    border: #24A03D 3px solid !important;
    color: #24A03D !important;
}
#Container {
	width:100%;
	float:left;
	z-index:1;
}
#Menu {
	width:100%;
	float:left;
}
#Section {
	width:100%;
	float:left;
}
.StandardForm {
	width:100%;
	margin-top:10px;
	height:auto;
	float:right;
	text-align:right;
	font-family:'Hind','Yekan';
}
.StandardForm input {
	float:right;
	text-align:right;
	width:18%;
	min-width:200px;
	margin-left:2%;
	border:none;
	border-bottom:#000 solid 1px;
	height:36px;
	font-family:'Hind','Yekan';
}
.ForSelect {
	width:250px;
	height:32px;
	padding:5px;
	text-align:center;
	font-family:'Hind','Yekan';
	float:right;
	position:relative;
	bottom:10px;
	margin-bottom:5px;
	border:#DBDBDB solid 1px;
}
.StandardForm input:focus {
	border-bottom:#d0416d solid 1px;
	color:#d0416d;
}
.button {
	border:none !important;
	height:40px !important;
	text-align:center !important;
	background:#E9E9E9 url(../../Img/ProductRegister/darkthemePink.png) no-repeat center;
	background-size:0;
	transition: cubic-bezier(.67, .09, 0, 1) 0.25s;
}
.button:hover {
	background:#E9E9E9 url(../../Img/ProductRegister/darkthemePink.png) no-repeat center;
	background-size:120%;
	color:#fff;
}
.OnlyOne {
	width:100%;
	float:right;
	margin-top:20px;
}
.OnlyTwo {
	width:100%;
	float:right;
	margin-top:20px;
}
.OnlyThree{
	width:100%;
	float:right;
	margin-top:20px;
}
.Table {
	width:auto;
	height:auto;
	float:right;
	text-align:center;
	font-family:'Hind','Yekan';
	direction:rtl;
	
}
.Table input {
	background:url(../../Img/ProductRegister/order.png) no-repeat right center;
	background-size:15px;
	border:none;
	height:20px;
	text-align:right;
	padding-right:18px;
}
.Row {
	margin-top:2px;
}
.Column {
	background:#EFEFEF;
	border-radius:2px;
	margin:2px;
	padding:14px 10px;
	border:#fff 2px solid;
}
.input {
	padding:11px 10px !important;
}
.Question {
	width:100%;
	margin-top:20px;
	height:auto;
	float:right;
	text-align:right;
	font-family:'Hind','Yekan';
}
.Question input {
	float:right;
	text-align:right;
	width:18%;
	min-width:200px;
	margin-left:2%;
	border:none;
	border-bottom:#000 solid 1px;
	height:36px;
	font-family:'Hind','Yekan';
}
.Question input:focus {
	border-bottom:#d0416d solid 1px;
	color:#d0416d;
}
.SubQues {
	float:right;
	margin-left:10px;
}
#Loader {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../../Img/PannelPage/LogInBack.png) repeat;
	background-size:37px;
	z-index:2;
	text-align:center;
	font-family:'Yekan';
}
#Loader p{
	font-size:25px;
	color:#d0416d;
	position:relative;
	top:39%;
}
#iconLoader {
	width: 40px !important;
	height: 40px !important;
	border-radius: 40px !important;
	margin:0 auto;
	position:relative;
	top:39%;
	background:url(../../Img/PannelPage/LoadLogIn.png) no-repeat center !important;
	background-size:20px;
	-webkit-animation: LogInLoader 0.2s linear infinite 0.2s;
	-moz-animation: LogInLoader 0.2s linear infinite 0.2s;
	-o-animation: LogInLoader 0.2s linear infinite 0.2s;
	animation: LogInLoader 0.2s linear infinite 0.2s;
	font-size: 0 !important;
	padding: 0 !important;
}

#LogInOpen {
    width: 30%;
    height: 50%;
    margin-left: 27%;
    position: fixed;
    background: url(../../Img/StoreRegister/TransparentBack.png) no-repeat center;
    /*background: #D0416D none repeat scroll 0% 0%;*/
    background-size: 300%;
    z-index: 15;
 }

#LogInSucseed {
    width: 80%;
    height: 250px;
    min-width: 230px;
    background: #D0416D url(../../Img/MainPage/LogInSucseed.png) no-repeat center;
    background-size: 250px;
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 5%;
    border-radius: 15px;
    z-index: 14;
}
#Bottom_Navigation {
	width:70px;
	height:70px;
	position:fixed;
	bottom:0;
	left:0;
	border-top-right-radius:100%;
	background:#c63e68;
}
#Sub_BNavigation_First {
	width:153px;
	height:300px;
	background:url(../../Img/PannelPage/Sub_1.png) no-repeat left bottom;
	-webkit-transform-origin:left bottom;
	-moz-transform-origin:left bottom;
	-o-transform-origin:left bottom;
	transform-origin:left bottom;
	-webkit-ransform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	position:fixed;
	bottom:0;
	left:0;
	cursor:pointer;
}
#Sub_BNavigation_Seconde {
	width:153px;
	height:300px;
	background:url(../../Img/PannelPage/Sub_2.png) no-repeat left bottom;
	-webkit-transform-origin:left bottom;
	-moz-transform-origin:left bottom;
	-o-transform-origin:left bottom;
	transform-origin:left bottom;
	-webkit-transform:rotate(22.5deg);
	-moz-transform:rotate(22.5deg);
	-o-transform:rotate(22.5deg);
	transform:rotate(22.5deg);
	position:fixed;
	bottom:0;
	left:0;
	cursor:pointer;
}
#Sub_BNavigation_Third{
	width:153px;
	height:300px;
	background:url(../../Img/PannelPage/Sub_3.png) no-repeat left bottom;
	-webkit-transform-origin:left bottom;
	-moz-transform-origin:left bottom;
	-o-transform-origin:left bottom;
	transform-origin:left bottom;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	position:fixed;
	bottom:0;
	left:0;
	cursor:pointer;
}
#Sub_BNavigation_Forth {
	width:153px;
	height:300px;
	background:url(../../Img/PannelPage/Sub_4.png) no-repeat left bottom;
	-webkit-transform-origin:left bottom;
	-moz-transform-origin:left bottom;
	-o-transform-origin:left bottom;
	transform-origin:left bottom;
	-webkit-transform:rotate(67.5deg);
	-moz-transform:rotate(67.5deg);
	-o-transform:rotate(67.5deg);
	transform:rotate(67.5deg);
	position:fixed;
	bottom:0;
	left:0;
	cursor:pointer;
}
#Holder_BNavigation {
	width:70px;
	height:70px;
	background:url(../../Img/PannelPage/Holder_Bn.png) no-repeat;
	position:fixed;
	bottom:0;
	left:0;
	cursor:pointer;
}



/* -------------- menu -------------- */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align:right;
}
#cssmenu {
  width: 100%;
  height:100%;
  font-family:'Hind','Yekan';
  color: #ffffff;
  background: #3ab4a6;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #3ab4a6;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  color: #d8f3f0;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  left: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  left: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

#Container {
	width:100%;
	float:left;
}
#Menu {
	width:100%;
	float:left;
}
#Section {
	width:100%;
	float:left;
}
#ManageShower {
	display:none;
}

#Container {
	width:100%;
	float:left;
}
#Menu {
	width:20%;
	height:100%;
	float:none;
	position:fixed;
	right:0;
	top:0;
}
#Section {
	width:75%;
	margin-top:30px;
	float:none;
	position:absolute;
	left:0;
	top:0;
}

 @-webkit-keyframes LogInLoader {
 from {
 -webkit-transform: rotate(0);
 -webkit-transform-origin:center;
}
 to {
 -webkit-transform: rotate(360deg);
 -webkit-transform-origin:center;
}
}
 @-moz-keyframes LogInLoader {
 from {
 -moz-transform: rotate(0);
 -moz-transform-origin:center;
}
 to {
  -moz-transform: rotate(360deg);
  -moz-transform-origin:center;
}
}
 @-o-keyframes LogInLoader {
 from {
 -o-transform: rotate(0);
 -o-transform-origin:center;
}
 to {
 -o-transform: rotate(360deg);
 -o-transform-origin:center;
}
}
 @keyframes LogInLoader {
 from {
 transform: rotate(0);
 transform-origin:center;
}
 to {
 transform: rotate(360deg);
 transform-origin:center;
}
}
@keyframes up {
	from {
		height:70px;
		width:70px;
	}
	to {
		height:300px;
		width:300px;
	}
}
@keyframes blur {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}