@model DataModel.Models.ViewModel.CompleteProductForOne

@{
    ViewBag.Title = "نام محصول : " + Model.Product.Name + " , قیمت: " + Model.Product.Price + " , نام فروشگاه : " + Model.StoreSummery.Name;
    ViewBag.keywords = "نام محصول : " + Model.Product.Name + " , قیمت: " + Model.Product.Price + " , نام فروشگاه : " + Model.StoreSummery.Name + "خرید آنلاین ، خرید پستی ، ساخت فروشگاه ، فروشگاه ساز ، ساخت فروشگاه آنلاین";
    ViewBag.description = "نام محصول : " + Model.Product.Name + " , قیمت: " + Model.Product.Price + " , نام فروشگاه : " + Model.StoreSummery.Name + "خرید آنلاین انواع محصولات از هزاران فروشگاه با پرداخت آنلاین و ارسال توسط پست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link href="~/newAsset/css/owl.carousel.min.css" rel="stylesheet" />
}

<div class="container" ng-controller="getProductCtrl" style="display:none" id="mainContainer">
    <div class="sizeManager productDetails">
        <div class="fullWidth organizerInPhone" id="storeDetailesContainer">
            <div class="threeFourColumn organizerInPhone">
                <div class="fullWidth organizerInPhone productInfo">
                    <div class="oneThreeColumn organizerInPhone">
                        <!-- gallery in tu gharar migire -->
                        <div class="gallery organizer itemContainer boxElement radiusBox" ng-show="Data.Product.ImgAddress">
                            <div class="organizer relativeMatter">
                                <div class="arrows owl-nav1" ng-show="Data.Product.OtherImagesAddress.length>0">
                                    <div class="rightArrow rightArrowShadow defaultArrow owl-prev pointer">
                                        <div class="circleAroundArrow objectInMiddle" id="prevGalleryPic">
                                            <span class="icon icon-arrow-right2 objectInMiddle  whiteColor"></span>
                                        </div>
                                    </div>
                                    <div class="leftArrow leftArrowShadow defaultArrow owl-next pointer">
                                        <div class="circleAroundArrow objectInMiddle" id="nextGalleryPic">
                                            <span class="icon icon-arrow-left2 objectInMiddle  whiteColor"></span>
                                        </div>
                                    </div>
                                </div>
                                <img id="zoom_03" class="" ng-src="/{{Data.Product.ImgAddress}}?w=375&mode=max&scale=both" data-zoom-image="/{{Data.Product.ImgAddress}}?w=1280&h=1280&mode=stretch&scale=both" />
                            </div>
                            <div class="thumbsSection organizer maxHeight_1" id="gallery_01" ng-show="Data.Product.OtherImagesAddress.length>0">

                                <a href="#" data-image="/{{Data.Product.ImgAddress}}?w=375&mode=max&scale=both" data-zoom-image="/{{Data.Product.ImgAddress}}?w=1280&h=1280&mode=stretch&scale=both">
                                    <img id="img_01" src="/{{Data.Product.ImgAddress}}?w=69&h=69&mode=stretch" />@*thumb*@
                                </a>
                                <a href="#" ng-repeat="image in Data.Product.OtherImagesAddress" data-image="/{{image.ImgAddress}}?w=375&mode=max&scale=both" data-zoom-image="/{{image.ImgAddress}}?w=1280&h=1280&mode=stretch&scale=both">
                                    <img id="img_01" src="/{{image.ImgAddress}}?w=69&h=69&mode=stretch " />@*thumb*@
                                </a>

                                @*<a href="#" data-image="/Content/elevate_zoom-master/images/small/image2.png" data-zoom-image="/Content/elevate_zoom-master/images/large/image2.jpg">
                                        <img id="img_01" src="/Content/elevate_zoom-master/images/thumb/image2.jpg" />
                                    </a>
                                    <a href="#" data-image="/Content/elevate_zoom-master/images/small/image3.png" data-zoom-image="/Content/elevate_zoom-master/images/large/image3.jpg">
                                        <img id="img_01" src="/Content/elevate_zoom-master/images/thumb/image3.jpg" />
                                    </a>
                                    <a href="#" data-image="/Content/elevate_zoom-master/images/small/image4.png" data-zoom-image="/Content/elevate_zoom-master/images/large/image4.jpg">
                                        <img id="img_01" src="/Content/elevate_zoom-master/images/thumb/image4.jpg" />
                                    </a>*@
                            </div>









                        </div>
                    </div>
                    <div class="twoThreeColumn goLeft organizerInPhone noMarginInPhone">
                        <div class="allInfo twelveFontSize">
                            <div class="organizer commonInfo standardPaddingInPhone">
                                <div class="oneThreeFullColumn organizerInPhone">
                                    <div class="organizer standardVerticalMargin sixteenFontSize"><span class=" thickFont">نام محصول:</span> <span class="" ng-bind="Data.Product.Name"></span></div>
                                    <div class="organizer sixteenFontSize" ng-show="Data.Product.Brand"><span class=" thickFont">برند:</span> <span class="" ng-bind="Data.Product.Brand"> </span></div>
                                    <div class="organizer standardVerticalMargin" ng-show="Data.Colors.length!=0">
                                        <div class="colorBox">
                                            <span class="sixteenFontSize thickFont">رنگ ها:</span>
                                            <div class="colorInner textInCenter standardHorizontalLeftMargin" ng-repeat="color in Data.Colors">
                                                <div class="boxElement radiusBox textInCenter relativeMatter">
                                                    <span class="colorCircle objectInMiddle" style="background-color: {{color.ColorHex}};"></span>
                                                </div>
                                                <div class="colorCheckBox standardHalfVerticalMargin">
                                                    <input type="radio" id="{{color.Id}}" name="color" />
                                                    <label for="{{color.Id}}"><span class="noPadding"></span> </label>
                                                </div>
                                            </div>
                                            @*<div class="colorInner textInCenter">
                                                    <div class="boxElement radiusBox textInCenter relativeMatter">
                                                        <span class="colorCircle objectInMiddle" style="background-color: #0f0;"></span>
                                                    </div>
                                                    <div class="colorCheckBox standardHalfVerticalMargin">
                                                        <input type="radio" id="c12" name="cc" />
                                                        <label for="c12"><span class="noPadding"></span> </label>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="twoThreeFullColumn organizerInPhone">
                                    <div class="organizer">


                                        <div ng-show="Data.Product.CanSend" class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                            <span class="icon icon-truck"></span> قابل ارسال
                                        </div>
                                        <div ng-show="Data.Product.CanGiveBack" class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                            <span class="icon icon-redo"></span> قابل پس دادن
                                        </div>
                                        <div ng-show="Data.Product.Changeability" class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                            <span class="icon icon-loop"></span> قابل تعویض
                                        </div>
                                        <div ng-show="Data.Product.IsExist" class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                            <span class="icon icon-checkmark"></span> موجود
                                        </div>
                                    </div>
                                    <div ng-show="Data.Product.Detailes" class="organizer standardDoubleVerticalMargin textJustified aLittleFromBottom">
                                        <span class="eightyFontsize thickFont">توضیحات محصول:</span>
                                        <div class="organizer" ng-bind="Data.Product.Detailes">
                                            توضیحات محصول
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="organizer priceRange hiddenInPhone">
                                <div class="boxElement radiusBox organizer standardPadding elementTopVerticalMargin">
                                    <div class="twoPartButton outlineButton greenBorder goLeft textInCenter" ng-click="AddToBasket()">
                                        <div class="iconPart greenBack standardDoublePadding minHeight_3"><span class="icon icon-cart whiteColor"></span> </div>
                                        <div class="fieldPart greenColor thirteenFontSize thickFont">اضافه به سبد خرید</div>
                                    </div>
                                    <div class="priceNotice goRight">
                                        <span class="eightyFontsize thickFont">قیمت: </span> <span class="soffPrice lightGray crossOver standardHorizontalLeftMargin" ng-show="Data.Product.DiscountedPrice" ng-bind="Data.Product.Price">390,000</span> <span class="mainPrice greenColor twentyTwoFontsize thickFont standardHorizontalLeftMargin" ng-bind="Data.Product.DiscountedPrice?Data.Product.DiscountedPrice:Data.Product.Price">290,000</span> <span class="offValue smallPadding pinkBack outlineButton whiteColor standardHorizontalLeftMargin" ng-show="Data.Product.DiscountedPrice" ng-bind="percentDiscount">5 درصد تخفیف</span>
                                    </div>

                                </div>
                            </div>

                            <div class="priceTagInPhone hiddenInDesktop prefer" ng-click="AddToBasket()">
                                <div class="oneFourFullColumn loginPadding relativeMatter darkerAcceptGreenBack height_4">
                                    <span class="icon icon-cart darkerGreenColor objectInMiddle"></span>
                                </div>
                                <div class="threeFourFullColumn loginPadding relativeMatter acceptGreenBack height_4">
                                    <span class="objectInMiddle standardPadding organizer">
                                        <span class="eightyFontsize darkerGreenColor thickFont">قیمت: </span> <span class="soffPrice darkerGreenColor crossOver standardHorizontalLeftMargin" ng-show="Data.Product.DiscountedPrice" ng-bind="Data.Product.Price">390,000</span> <span class="mainPrice darkerGreenColor twentyTwoFontsize thickFont standardHorizontalLeftMargin" ng-bind="Data.Product.DiscountedPrice?Data.Product.DiscountedPrice:Data.Product.Price">290,000</span> <span class="offValue smallPadding pinkBack outlineButton whiteColor standardHorizontalLeftMargin" ng-show="Data.Product.DiscountedPrice" ng-bind="percentDiscount">5 درصد تخفیف</span>
                                    </span>
                                </div>
                            </div>

                            <div class="organizer features standardVerticalMargin" ng-show="Data.ProductAttrbiutesViewModels">
                                <div class="tableShape boxElement radiusBox thickFont">
                                    <div class="tRow organizer borderBottom relativeMatter">

                                        <div class="sequencedBorder" ng-repeat="item in Data.ProductAttrbiutesViewModels">
                                            <div class="twoFullColumn organizerInPhone relativeMatter" ng-show="$index %2 == 0">
                                                <div class="tTitle goRight standardPadding bottomGrayBorder">
                                                    <span ng-bind="item.AttributeName" class="objectInMiddle textEllipsis standardPadding organizer">ویژگی</span>
                                                </div>
                                                <div class="tValue goLeft standardPadding bottomGrayBorder">
                                                    <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder maxFullWidth textEllipsis" ng-bind="item.Value">مقدار</div>
                                                    @*<div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                                        <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>*@
                                                </div>
                                            </div>
                                            <div class="twoFullColumn organizerInPhone relativeMatter" ng-show="$index %2 != 0">
                                                <div class="tTitle goRight standardPadding bottomGrayBorder">
                                                    <span ng-bind="item.AttributeName" class="objectInMiddle textEllipsis standardPadding organizer">ویژگی</span>

                                                </div>
                                                <div class="tValue goLeft standardPadding bottomGrayBorder">
                                                    <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder maxFullWidth textEllipsis" ng-bind="item.Value">مقدار</div>
                                                    @*<div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                                        <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>*@
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="organizer newProducts standardVerticalMargin resetIndex relativeMatter" ng-show="owl1Data">
                    <div class="boxElement radiusBox">
                        <div class="titleBar organizer eightyFontsize thickFont loginPadding relativeMatter prefer">
                            <div class="goRight"><span class="icon icon-price-tags"></span> محصولات مشابه </div>
                        </div>
                        <div class="innerBox carouselContainer organizer thickFont relativeMatter">
                            <div class="arrows owl-nav1">
                                <div class="rightArrow rightArrowShadow defaultArrow owl-prev prev1 pointer">
                                    <div class="circleAroundArrow objectInMiddle">
                                        <span class="icon icon-arrow-right2 objectInMiddle  whiteColor"></span>
                                    </div>
                                </div>
                                <div class="leftArrow leftArrowShadow defaultArrow owl-next next1 pointer">
                                    <div class="circleAroundArrow objectInMiddle">
                                        <span class="icon icon-arrow-left2 objectInMiddle  whiteColor"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="carouselInner">
                                <div class="owl-carousel owl-theme owlSlider1" id="owlSlider1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oneFourColumn organizerInPhone" id="storeDetailes">
                <div class="boxElement textInCenter organizer radiusBox relativeMatter">
                    <div class="organizer sellerLogo standardHalfVerticalMargin">
                        <div class="circleImageContainer">
                            <img class="imageInMiddle" ng-src="/{{Data.StoreSummery.LogoAddress?Data.StoreSummery.LogoAddress:noStorePic}}" />
                        </div>
                    </div>
                    <div class="organizer eightyFontsize pinkColor thickFont standardVerticalBottomMargin" ng-show="Data.StoreSummery.Name" ng-bind="Data.StoreSummery.Name">نام فروشگاه</div>
                    @*<div class="organizer">
                            <div class="mapHolder relativeMatter">
                                <div id="MiniMapHolder"></div>
                                <div class="locationMark"><span class="icon icon-location2 pinkColor eightyFontsize objectInMiddle"></span> </div>
                            </div>
                        </div>*@
                    <div class="organizer standardPadding borderBottom" ng-show="Data.StoreSummery.Place">
                        <div class="organizer standardHalfVerticalMargin thickFont">آدرس</div>
                        <div class="organizer" ng-bind="Data.StoreSummery.Place">
                        </div>
                    </div>
                    <div class="organizer standardPadding borderBottom" ng-show="!Data.StoreSummery.Place">
                        <div class="organizer standardHalfVerticalMargin thickFont">فروشگاه مجازی</div>

                    </div>
                    <div class="organizer standardPadding borderBottom" ng-show="Data.StoreSummery.PhoneNumber">
                        <div class="organizer standardHalfVerticalMargin thickFont">شماره تلفن</div>
                        <div class="organizer"><span ng-bind="Data.StoreSummery.PhoneNumber"></span></div>
                    </div>
                    <div class="organizer standardPadding borderBottom" ng-show="owl2Data">
                        <div class="organizer standardHalfVerticalMargin thickFont">نمونه محصولات</div>
                        <div class="fullWidth relativeMatter noBack">
                            <div class="arrows owl-nav1">
                                <div class="rightArrow rightArrowShadow defaultArrow owl-prev prev2 pointer">
                                    <div class="circleAroundArrow objectInMiddle">
                                        <span class="icon icon-arrow-right2 objectInMiddle"></span>
                                    </div>
                                </div>
                                <div class="leftArrow leftArrowShadow defaultArrow owl-next next2 pointer">
                                    <div class="circleAroundArrow objectInMiddle">
                                        <span class="icon icon-arrow-left2 objectInMiddle"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="minorWidth elementInMiddle">
                                <div class="carouselInner relatedImage">
                                    <div class="owl-carousel owl-theme owlSlider2" id="owlSlider2">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="organizer standardPadding borderBottom">
                        <div class="tagInner outlineButton fillButton standardPadding whiteColor pinkBack thickFont"><a href="~/shop/code/{{Data.StoreSummery.Id}}">سایر محصولات فروشگاه</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Script{

    <script>
        var data = @Html.Raw(Json.Encode(Model));

    </script>
    <script src="~/newAsset/js/getProduct.js"></script>
    <script src="~/newAsset/js/owl.carousel.min.js"></script>
    <script src="/Content/elevate_zoom-master/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcRl8YOh6SJZ3dHqzY6ImgqEM9WNd-aE0"></script>

}
 
