@{
    ViewBag.Title = "مدیریت سفارشات";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}




<div ng-app="ShopApp" id="AddDiscount" ng-controller="ShowOrderController" style="width:75%; text-align:right;direction:rtl;padding:0 2.5%;font-family :'iransfm' ; float:left;">


    <div ng-hide="loadingHide">
        لطفا تا بارگذاری لیست سفارشات شکیبا باشید...
    </div>


    <table ng-show="Data.Response.length!=0" class="table table-bordered table-hover table-striped table-responsive">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                کد سفارش
            </th>
            <th>
                تاریخ
            </th>
            <th>
                نام مشتری
            </th>
            <th>
                مجموع درآمد
            </th>
            <th>
                شیوه پرداخت
            </th>
            <th>
                وضعیت
            </th>
            <th>
                جزییات
            </th>
            <th>
                تغییر وضعیت
            </th>
            <th>
                ویرایش مشخصات ارسالی
            </th>
        </tr>
        <tbody ng-repeat="item in Data.Response">
            <tr ng-init="item.showDetailes=false">
                <td ng-bind="$index+1"></td>
                <td ng-bind="item.OrderCode"></td>
                <td ng-bind="item.Date"></td>
                <td ng-bind="item.MemberName"> </td>
                <td ng-bind="item.OverallIncome"> </td>
                <td ng-bind="item.OrderTypeName"> </td>
                <td ng-bind="item.StatusName"> </td>
                <td><div ng-click="item.editSendingOptions=false;item.showDetailes=!item.showDetailes;item.changeStaus=false;getCity(item.CustomerInfo.CityCode)" class="btn btn-warning">جزییات</div></td>
                <td><div ng-click="item.editSendingOptions=false;item.changeStaus=!item.changeStaus;item.showDetailes=false" class="btn btn-success">تغییر وضعیت</div></td>
                <td><div ng-click="item.editSendingOptions=!item.editSendingOptions;item.changeStaus=false;item.showDetailes=false" class="btn btn-info">ویرایش</div></td>
            </tr>
            <tr ng-show="item.showDetailes ||item.changeStaus ||item.editSendingOptions">
                <td colspan=10>
                    <div ng-show="item.showDetailes">
                        <table ng-show="item.ProductDetailes.length!=0" class="table table-bordered table-hover table-striped table-responsive">

                            <tr>
                                <td>ردیف</td>
                                <td>شرح کالا</td>
                                <td>تعداد</td>
                                <td>قیمت واحد</td>
                                <td>قیمت کل</td>

                            </tr>
                            <tr ng-repeat="item2 in item.ProductDetailes">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="item2.ProductSummery"></td>
                                <td ng-bind="item2.Count"></td>
                                <td ng-bind="item2.UnitPrice"></td>
                                <td ng-bind="item2.OverallPrice"></td>
                            </tr>
                        </table>
                        <div class="col-md-3">
                            هزینه پستی:{{item.PostalCost}}
                        </div>
                        <div class="col-md-4">
                            نحوه ارسال:{{item.OrderSendingTypeName}}
                        </div>
                        <div class="col-md-3">
                            کد رهگیری:{{item.TrackingCode}}
                        </div>
                        <br />
                        <div class="col-md-12">
                            آدرس: <span id="CityName"> </span> - {{item.CustomerInfo.Place}} - کد پستی ({{item.CustomerInfo.PostalCode}})
                        </div>

                        <div class="col-md-3">
                            شماره تلفن: {{item.CustomerInfo.MobileNumber}}
                        </div>
                        <div class="col-md-3">
                            شماره تماس: {{item.CustomerInfo.PhoneNumber}}
                        </div>
                        <div class="col-md-6">
                            توضیحات: {{item.CustomerInfo.Comments}}
                        </div>
                    </div>
                    <div ng-show="item.changeStaus && item.EditableStatus!=null">
                        <div class="col-sx-12 col-md-6" style="padding: 0;">
                            برای تغییر وضعیت سفارش ، از لیست روبه رو استفاده نمایید .

                        </div>
                        <div class="col-sx-12 col-md-6" ng-init="item.selectedStatus=''" style="padding: 0;">
                            <select ng-model="item.selectedStatus" ng-options="item3.Value as item3.Text for item3 in item.EditableStatus"></select>
                        </div>

                        <div class="col-md-12" ng-show="item.selectedStatus!=''">
                            آیا از این تغییر مطمئین هستید ؟
                            <button ng-click="saveNewStatus(item.selectedStatus,item.OrderCode);item.changeStaus=false;"> بله </button>
                            <button ng-click="item.changeStaus=false;item.selectedStatus=''"> خیر </button>
                        </div>

                    </div>
                    <div ng-show="item.editSendingOptions">
                        <div class="col-sx-12 col-md-6" style="padding: 0;">
                            برای تغییر  مشخصات ارسال سفارش ، از لیست روبه رو استفاده نمایید .

                        </div>
                        <div class="col-sx-6 col-md-2" ng-init="item.selectedSendingTypes=''" style="padding: 0;">
                            <select ng-model="item.selectedSendingTypes" ng-options="item4.Id as item4.Name for item4 in sendingTypes"></select>
                        </div>
                        <div class="col-sx-6 col-md-3" style="padding: 0;">
                            <input ng-model="item.selectedTrackingCode" placeholder="کد رهگیری" type="text" />
                        </div>

                        <div class="col-sx-6 col-md-1" style="padding: 0;">
                            <button ng-click="saveSendingDetailes(item.selectedSendingTypes,item.OrderCode,item.selectedTrackingCode);item.editSendingOptions=''">ثبت </button>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div>
        <p ng-show="Data.Response.length==0" style="text-align: center; margin-top: 68px; font-size: 24px;">
            <br />
            سفارشی برای نمایش وجود ندارد
            <br />

        </p>
    </div>



</div>
@section Script{

    <script src="~/Scripts/angular.min.js"></script>
    <script>

        var madule = angular.module('ShopApp', [])

        madule.controller('ShowOrderController', ['$scope', function ($scope) {
            $scope.Data = [];


            $scope.loadData = function () {
                $.ajax({
                    type: "GET",
                    url: "/api/Seller/OrderManagement/GetAll",
                    success: function (result) {
                        $scope.Data = result;
                        $scope.loadingHide = true;
                        $scope.$apply();
                        $scope.loadSendingTypes();
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }

            $scope.loadData();

            $scope.saveNewStatus = function (statusCode, orderCode) {
                $.ajax({
                    type: "POST",
                    url: "/api/Seller/OrderManagement/UpdateStatus?orderCode=" + orderCode + "&newStatusCode=" + statusCode,
                    success: function (result) {
                        $scope.loadData();
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }

            $scope.loadSendingTypes = function () {
                $.ajax({
                    type: "GET",
                    url: "/api/Seller/OrderManagement/GetSendingTypes",
                    success: function (result) {
                        $scope.sendingTypes = result.Response;
                        $scope.loadCityList();
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }


            $scope.loadCityList = function () {
                $.ajax({
                    type: "GET",
                    url: "/Account/GetStates",
                    success: function (result) {
                         $scope.State = result.Response;

                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }


            $scope.getCity = function (cityId) {
                 if (cityId && $scope.State){
                    $.each($scope.State, function (index, value) {
                    if (value) {
                        $.each(value.Cities, function (index2, value2) {
                            if (value2) {
                                if (value2.Id == cityId) {
                                    console.log('mmjh')
                                    var output = "استان " + value.Name + "- شهرستان" + value2.Name
                                    console.log(output)
                                     $("#CityName").html(output + "");

                                 }
                            }
                        })
                    }

                })
                }
            }


            $scope.saveSendingDetailes = function (selectedSendingTypes, OrderCode, selectedTrackingCode) {
                $.ajax({
                    type: "POST",
                    url: "/api/Seller/OrderManagement/UpdateSendingDetailes?orderCode=" + OrderCode + "&type=" + selectedSendingTypes + "&trackingCode=" + selectedTrackingCode,
                    success: function (result) {
                        $scope.loadData();
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }



        }]);
        madule.filter('translate', function () {
            return function (x) {

                if (x == true)
                    return "بله";
                else
                    return "خیر";
            };
        });

        $('#AddDiscount').on('keydown', '#DiscountPercent', function (e) {
            -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 37 == e.keyCode || 39 == e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault();
        });
    </script>
}
