@{
    ViewBag.Title = "ویرایش مشخصات فروشگاه";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


@section Style{
    <link href="~/Content/DropdownMultiSelect-sumoselect/sumoselect.css" rel="stylesheet" />

}

<div ng-app="ShopApp" id="EditStore" ng-controller="EditShopController" style=" width: 75%; text-align: right;direction: rtl;padding: 0 2.5%;font-family: 'iransfm'; float: left;">



    <div>
        <div class="row" style="margin: 10px;">
            <div style="width: 150px;float: right;">نام فروشگاه</div>
            <div style="width: 150px;float: right;"><input type="text" class="input input-group input-sm" ng-model="Data.StoreName" /></div>
        </div>


        <div class="row" style="margin: 20px 10px;">
            <div style="width: 150px;float: right;">لینک صفحه فروشگاه شما در هوجی بوجی</div>
            <div style="width: 150px;float: right;"><input id="homePage" type="text" class="input input-group input-sm" ng-model="Data.HomePage" /></div>
            <div style="width: 368px;float: right; margin: 5px 9px 0 0; color: red;"> لطفا از اعداد و حروف انگلیسی و بدون فاصله استفاده نمایید</div>
        </div>
        <div class="row" style="margin: 20px 10px;">
            <div style="width: 150px;float: right;"> آدرس سایت شما :</div>
            <div style="width: 150px;float: right;">www.hoojibooji.com/shop/{{Data.HomePage}}</div>
        </div>
        <div class="row" style="margin: 10px;">
            <div style="width: 150px;float: right;">آدرس کامل</div>
            <div style="width: 150px;float: right;">
                <textarea rows="5" class="input input-group input-lg" ng-model="Data.Place"></textarea>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div style="width: 150px;float: right;">توضیحات فروشگاه</div>
            <div style="width: 150px;float: right;"><textarea rows="5" class="input input-group input-lg" ng-model="Data.StoreComments"></textarea></div>
        </div>
        @*<div class="row" style="margin: 10px;">
                <div style="width: 150px;float: right;">نوع محصولات فروشگاه</div>
                <div style="width: 150px;float: right;">
                    <select multiple="multiple" id="SlectBox"></select>

            </div>*@

        <div class="row" style="margin: 10px;">
            <input type="button" class="btn btn-success" value="ذخیره" style="margin-right: 242px;" ng-click="saveData()" />
            <div id="status" style="width: 550px;text-align: center;font-size: 19px; margin: 10px;"></div>
        </div>



    </div>
    @*[StringLength(100)]
            [Display(Name = "نام فروشگاه")]
            public string StoreName { get; set; }

            [StringLength(1000)]
            [Display(Name = "توضیحات فروشگاه")]
            public string StoreComments { get; set; }

            [StringLength(10, MinimumLength = 10)]
            [Display(Name = "کد شناسه صنفی")]
            public int? CommercialCode { get; set; }

            [Display(Name = "شماره تلفن معرف")]
            public decimal? ReagentPhoneNumber { get; set; }

            [Display(Name = "نام شهر")]
            public long? CityCode { get; set; }



            [StringLength(200)]
            [Display(Name = "آدرس کامل")]
            public string Place { get; set; }

            public decimal? Latitude { get; set; }
            public decimal? Longitude { get; set; }


            [Display(Name = "شماره تماس")]
            public List<decimal>
                PhoneNumbers { get; set; }

                [Display(Name = "نوع محصولات فروشگاه")]
                public List<long>
                    ListCategoryCode { get; set; }

                    public byte StoreTypeCode { get; set; }

                    public string Email { get; set; }
                    public string Website { get; set; }

                    [Display(Name = "صفحه شخصی فروشگاه")]
                    public string HomePage { get; set; }

                URL: api/store/storemanagment/editStore
        Parameter: StoreEditDataModel


    *@




</div>
@section Script{

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Content/DropdownMultiSelect-sumoselect/jquery.sumoselect.min.js"></script>

    <script>

        var madule = angular.module('ShopApp', [])

        madule.controller('EditShopController', ['$scope', function ($scope) {
            $scope.Data = [];
            $("#status").html('لطفا کمی صبر کنید ');

            $scope.loadData = function () {
                $.ajax({
                    type: "GET",
                    url: "/api/store/storemanagment/editStore",
                    success: function (result) {
                        $("#status").html('');
                        $scope.Data = result.Response;
                        //   $scope.loadCategory();
                        $scope.$apply();
                        console.log($scope.Data)
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }


            $scope.loadCategory = function () {

                $.ajax({
                    type: "GET",
                    url: "/api/store/storemanagment/editStore",
                    success: function (result) {

                        $scope.Categories = result.Response;

                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });


                //make multi slected list
                $.each($scope.Categories, function (index, value) {
                    $("#SlectBox").append($('<option>').text(value.Name).attr('value', value.Id));
                });
                $('#SlectBox').SumoSelect({
                    csvDispCount: 2,
                    captionFormat: 'تعداد ' + '{0}' + ' مورد انتخاب شد ',
                    okCancelInMulti: false
                });
            }


            $scope.loadData();



            $scope.saveData = function () {
                $("#status").html('لطفا کمی صبر کنید ');

                $.ajax({
                    type: "POST",
                    url: "/api/store/storemanagment/editStore",
                    data: $scope.Data,
                    success: function (result) {
                        $("#status").html('عملیات با موفقت انجام شد ');
                    },
                    error: function () {
                        $("#status").html('عملیات با خطا مواجه شد ');

                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }


        }]);

        madule.filter('translate', function () {
            return function (x) {

                if (x == true)
                    return "بله";
                else
                    return "خیر";
            };
        });

        $('#EditStore').on('keydown', '#homePage', function (e) {
            -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || /^[0-9a-zA-Z]+$/.test(e.keyCode) || 37 == e.keyCode || 39 == e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault();
        });
    </script>
}
