@{
    ViewBag.title = "درباره ما ";
    ViewBag.keywords = "درباره فروشگاه ، درباره فروشگاه آنلاین ، درباره ما، درباره هوجی بوجی";
    ViewBag.description = "فروشگاه هوجی بوجی، مکانی برای خرید و فروش محصولات از تولید کننده به خریدار می باشد ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<div class="boxesForFields" style="direction:rtl; font-size:16px;">
    <h2>
        درباره ما
    </h2>
    <h4>
        وب سایت هوجی بوجی ، یک فروشگاه اینترنتی جامع می باشد ، به این صورت که عمل میکند که<br />
        فروشگاه ها ، اعم از ، مجازی ، فیزیکی و خانگی ، در سایت ثبت نام می نمایند و محصولات<br />
        خود را در سایت ثبت میکنند .<br />
        این سایت قابلیت فروش محصولات افراد را به صورت آنلاین دارا میباشد<br />
        <br /><br />
        تیم مدیریتی :<br />
        - محمد جواد حیدری<br />
        - آرمان نعمتی<br />
        - محمد پور اسکندر<br />
        - میلاد میرزایی <br />
        - محمد رضا عباس پور  <br />

    </h4>
</div>
-->


@{
    ViewBag.Title = "قوانین سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/MainPage/MainPage.css" rel="stylesheet" />

<div class="container">
    <div class="organizer pinkBack staticCover textInCenter">
        <img src="~/newAsset/images/about.svg" height="100%" />
    </div>
    <div class="organizer">
        <div class="sizeManager">
            <div class="staticSubject standardDoubleVerticalMargin organzier pinkColor twentyTwoFontsize thickFont"><span class="icon icon-info twentyTwoFontsize standardHalfHorizontalLeftMargin"></span> درباره ما</div>
            <div class="organizer standardBottomVerticalMargin">
                وب سایت هوجی بوجی ، یک فروشگاه اینترنتی جامع می باشد ، به این صورت که عمل میکند که
                فروشگاه ها ، اعم از ، مجازی ، فیزیکی و خانگی ، در سایت ثبت نام می نمایند و محصولات
                خود را در سایت ثبت میکنند .
                <p>
                    این سایت قابلیت فروش محصولات افراد را به صورت آنلاین دارا میباشد
                </p>
            </div>
            <div class="organizer standardTopVerticalMargin">
                <div class="mainTimeline organizer rightPinkBorder">

                    <div class="mainTitleInner standardTopDoubleVerticalMargin organizer">

                        <div class="mainTitleSubject organizer moveFromBottom">
                            <span class="mediumCircle goRight pinkBack compeletRadius inlineList"></span>
                            <div class="goRight inlineList smallSub">
                                <span class="pinkColor eightyFontsize organizer thickFont">تیم مدیریتی</span>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    محمد جواد حیدری
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    آرمان نعمتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   محمد پوراسکندر
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   میلاد میرزایی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   محمدرضا عباسپور
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
