@{
    ViewBag.title = "درباره ما ";
    ViewBag.keywords = "درباره فروشگاه ، درباره فروشگاه آنلاین ، درباره ما، درباره هوجی بوجی";
    ViewBag.description = "فروشگاه هوجی بوجی، مکانی برای خرید و فروش محصولات از تولید کننده به خریدار می باشد ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="organizer pinkBack staticCover textInCenter">
        <img src="~/newAsset/images/about.svg" height="100%" />
    </div>
    <div class="organizer">
        <div class="sizeManager">
            <div class="staticSubject standardDoubleVerticalMargin organzier pinkColor twentyTwoFontsize thickFont"><span class="icon icon-info twentyTwoFontsize standardHalfHorizontalLeftMargin"></span> درباره ما</div>
            <div class="organizer standardBottomVerticalMargin">
                هوجی بوجی، به عنوان یک فروشگاه اینترنتی جامع، که 
                فروشگاه های مختلفی اعم از ، مجازی ، فیزیکی و خانگی را در خود گنجانده است، این امکان را به شما میدهد تا چه به عنوان یک خریدار، تنوع بینظری از کالاها را در دسترس داشته باشید و چه به عنوان
                یک فروشنده، امکان رقابت با سایر فروشگاهها را داشته باشید و محصولات خود را در این بازار بزرگ به نمایش بگذارید.
                @*<p>*@
                    این سایت قابلیت فروش محصولات به صورت آنلاین را دارا میباشد.
                @*</p>*@
            </div>
            <div class="organizer standardTopVerticalMargin">
                <div class="mainTimeline organizer rightPinkBorder">

                    <div class="mainTitleInner standardTopDoubleVerticalMargin organizer">

                        <div class="mainTitleSubject organizer moveFromBottom">
                            <span class="mediumCircle goRight pinkBack compeletRadius inlineList"></span>
                            <div class="goRight inlineList smallSub">
                                <span class="pinkColor eightyFontsize organizer thickFont">تیم مدیریتی</span>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    محمد جواد حیدری
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    آرمان نعمتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   محمد پوراسکندر
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   میلاد میرزایی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                   محمدرضا عباسپور
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
