@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/MainPage/MainPage.css" rel="stylesheet" />
<!--
<div class="boxesForFields" style="text-align:center;">
    <h2 style="direction: rtl;">
        تماس با ما
    </h2>

    <div style="text-align:center">
        <img src="~/Img/contactUs.jpg" style="max-width:450px;"/>
        <h4>
            آدرس : استان تهران ، شهرستان فیروزکوه ، سروستان 2 ، پلاک 14
        </h4>
        <h4>
            شماره تلفن همراه : 09351892347
        </h4>
        <h4>
    شماره تماس : 02176443577
</h4>
    </div>

</div>
    -->
<div class="container">
    <div class="organizer  staticCover orangeBack textInCenter">
        <img src="~/newAsset/images/contact.svg" height="100%" />
    </div>
    <div class="organizer">
        <div class="sizeManager">
            <div class="staticSubject standardTopDoubleVerticalMargin organzier orangeColor twentyTwoFontsize thickFont"><span class="icon icon-phone twentyTwoFontsize standardHalfHorizontalLeftMargin"></span> ارتباط با ما</div>
            <div class="organizer standardBottomVerticalMargin">
                از طریق راه های ارتباطی زیر با ما در تماس باشید و انتقادات و پیشنهادات خود را با ما به اشتراک بگذارید
            </div>

            <div class="organizer standardVerticalMargin">
                <div class="oneThreeColumn">
                    <div class="flatRadiusBox itemContainer textInCenter">
                        <div class="organizer socialCover"></div>
                        <div class="organizer loginPadding">
                            <div class="organizer telegramColor thickFont">تلگرام</div>
                            <div class="organizer almostGrayColor">ارتباط در تلگرام از طریق آیدی زیر</div>
                            <div class="organizer eightyFontsize thickFont telegramColor standardTopVerticalMargin"> hoojibooji </div>
                        </div>
                        <div class="organizer loginPadding telegramBack">
                            <img src="~/newAsset/images/telegram.png" class="telegramWidth middleContext" />
                        </div>
                    </div>
                </div>

                <div class="oneThreeColumn">
                    <div class="flatRadiusBox itemContainer textInCenter">
                        <div class="organizer instagramCover"></div>
                        <div class="organizer loginPadding">
                            <div class="organizer orangeColor thickFont">اینستاگرام</div>
                            <div class="organizer almostGrayColor">ارتباط در اینستاگرام از طریق آیدی زیر</div>
                            <div class="organizer eightyFontsize thickFont orangeColor standardTopVerticalMargin"> hoojibooji </div>
                        </div>
                        <div class="organizer loginPadding orangeBack">
                            <img src="~/newAsset/images/instagram.png" class="telegramWidth middleContext" />
                        </div>
                    </div>
                </div>

                <div class="oneThreeColumn">
                    <div class="flatRadiusBox itemContainer textInCenter">
                        <div class="organizer googleCover"></div>
                        <div class="organizer loginPadding">
                            <div class="organizer cherryColor thickFont">پست الکترونیکی</div>
                            <div class="organizer almostGrayColor">ارتباط با ایمیل از طریق آدرس زیر</div>
                            <div class="organizer eightyFontsize thickFont cherryColor standardTopVerticalMargin"> info@hoojibooji.com </div>
                        </div>
                        <div class="organizer loginPadding cherryBack">
                            <img src="~/newAsset/images/google.png" class="telegramWidth middleContext" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="organizer relativeMatter standardTopVerticalMargin">
                <div class="twoFullColumn textInLeft standardPadding">
                    <div class="organizer standardTopVerticalMargin">شماره تماس با مدیریت بازرگانی: 09114586747</div>
                    <div class="organizer standardTopVerticalMargin">شماره تماس مسپول هماهنگی: 09375641613</div>
                </div>
                <div class="verticalLine inMiddle"></div>
                <div class="twoFullColumn textInRight standardPadding">
                    <div class="organizer"><span class="icon icon-phone"></span> شماره تماس: 09114586747</div>
                    <div class="organizer standardVerticalMargin"><span class="icon icon-mobile"></span> شماره تلفن همراه: 09375641613</div>
                    <div class="organizer"><span class="icon icon-location"></span> آدرس: استان تهران، شهرستان فیروزکوه، سرورستان 3، پلاک 14</div>
                </div>
            </div>
        </div>
    </div>
</div>