@model DataModel.Models.ViewModel.CompleteProductForOne 

@{
    ViewBag.Title = "نام محصول : " + Model.Product.Name + " , قیمت: " + Model.Product.Price + " , نام فروشگاه : " + Model.StoreSummery.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div class="container" ng-controller="getProductCtrl">
    <div class="sizeManager productDetails">
        <div class="threeFourFullColumn standardPadding">
            <div class="organizer productInfo">
                <div class="oneThreeFullColumn">
                    <!-- gallery in tu gharar migire -->
                    <div class="gallery"></div>
                </div>
                <div class="twoThreeFullColumn goLeft">
                    <div class="allInfo twelveFontSize">
                        <div class="organizer commonInfo">
                            <div class="oneThreeFullColumn">
                                <div class="organizer"><span class="eightyFontsize thickFont">برند:</span> <span class="darkGray">محل مشخص کردن برند</span></div>
                                <div class="organizer standardDoubleVerticalMargin"><span class="eightyFontsize thickFont">نام محصول:</span> <span class="darkGray">نام محصول مورد نظر در اینجا</span></div>
                                <div class="organizer">
                                    <div class="colorBox">
                                        <span class="eightyFontsize thickFont">رنگ ها:</span>
                                        <div class="colorInner textInCenter">
                                            <div class="boxElement radiusBox textInCenter relativeMatter">
                                                <span class="colorCircle objectInMiddle" style="background-color: #f00;"></span>
                                            </div>
                                            <div class="colorCheckBox standardHalfVerticalMargin">
                                                <input type="radio" id="c11" name="cc" />
                                                <label for="c11"><span class="noPadding"></span> </label>
                                            </div>
                                        </div>
                                        <div class="colorInner textInCenter">
                                            <div class="boxElement radiusBox textInCenter relativeMatter">
                                                <span class="colorCircle objectInMiddle" style="background-color: #0f0;"></span>
                                            </div>
                                            <div class="colorCheckBox standardHalfVerticalMargin">
                                                <input type="radio" id="c12" name="cc" />
                                                <label for="c12"><span class="noPadding"></span> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="twoThreeFullColumn">
                                <div class="organizer">


                                    <div class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                        <span class="icon icon-truck"></span> قابل ارسال
                                    </div>
                                    <div class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                        <span class="icon icon-redo"></span> قابل پس دادن
                                    </div>
                                    <div class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                        <span class="icon icon-loop"></span> قابل تعویض
                                    </div>
                                    <div class="tagInner goLeft outlineButton fillButton smallPadding whiteColor greenBorder greenColor thickFont twelveFontSize">
                                        <span class="icon icon-checkmark"></span> موجود
                                    </div>
                                </div>
                                <div class="organizer standardDoubleVerticalMargin textJustified aLittleFromBottom">
                                    <span class="eightyFontsize thickFont">توضیحات محصول:</span>
                                    <div class="organizer">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organizer priceRange">
                            <div class="boxElement radiusBox organizer standardPadding elementTopVerticalMargin">
                                <div class="twoPartButton outlineButton greenBorder goLeft textInCenter">
                                    <div class="iconPart greenBack standardDoublePadding"><span class="icon icon-cart whiteColor"></span> </div>
                                    <div class="fieldPart greenColor thirteenFontSize thickFont">اضافه به سبد خرید</div>
                                </div>
                                <div class="priceNotice goRight">
                                    <span class="eightyFontsize thickFont">قیمت: </span> <span class="soffPrice lightGray crossOver standardHorizontalLeftMargin">390,000</span> <span class="mainPrice greenColor twentyTwoFontsize thickFont standardHorizontalLeftMargin">290,000</span> <span class="offValue smallPadding pinkBack outlineButton whiteColor standardHorizontalLeftMargin">5 درصد تخفیف</span>
                                </div>
                            </div>
                        </div>
                        <div class="organizer features standardVerticalMargin">
                            <div class="tableShape boxElement radiusBox thickFont">
                                <div class="tRow organizer borderBottom relativeMatter">
                                    <div class="twoFullColumn">
                                        <div class="tTitle goRight standardPadding">رزولوشن تصویر</div>
                                        <div class="tValue goLeft standardPadding">
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                        </div>
                                    </div>
                                    <div class="twoFullColumn">
                                        <div class="tTitle goRight standardPadding">اندازه تصویر</div>
                                        <div class="tValue goLeft standardPadding">
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">15 inch</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tRow organizer borderBottom relativeMatter">
                                    <div class="twoFullColumn">
                                        <div class="tTitle goRight standardPadding">رزولوشن تصویر</div>
                                        <div class="tValue goLeft standardPadding">
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">1920 * 1080</div>
                                        </div>
                                    </div>
                                    <div class="twoFullColumn">
                                        <div class="tTitle goRight standardPadding">اندازه تصویر</div>
                                        <div class="tValue goLeft standardPadding">
                                            <div class="tagInner outlineButton fillButton smallPadding greenColor greenBorder">15 inch</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organizer newProducts">
                <div class="boxElement radiusBox">
                    <div class="titleBar organizer eightyFontsize thickFont loginPadding">
                        <div class="goRight"><span class="icon icon-price-tags"></span> محصولات مرتبط </div>
                    </div>
                    <div class="innerBox carouselContainer organizer thickFont relativeMatter">
                        <!-- be ezaye har mahsool y dune az in six column ha repeat mishe -->
                        <div class="arrows">
                            <div class="rightArrow defaultArrow">
                                <span class="icon icon-arrow-right2 objectInMiddle"></span>
                            </div>
                            <div class="leftArrow defaultArrow">
                                <span class="icon icon-arrow-left2 objectInMiddle"></span>
                            </div>
                        </div>
                        <div class="carouselInner">
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                            <div class="sixColumn borderRight">
                                <div class="organizer standardVerticalMargin">
                                    <div class="circleImageContainer">
                                        <img src="" alt="" class="imageInMiddle">
                                    </div>
                                </div>
                                <div class="organizer pinkColor">نام محصول</div>
                                <div class="organizer smallExplain">توضیحی مختصر در مورد این محصول</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="oneFourFullColumn">
            <div class="boxElement textInCenter organizer radiusBox relativeMatter">
                <div class="organizer sellerLogo standardHalfVerticalMargin">
                    <div class="circleImageContainer"></div>
                </div>
                <div class="organizer eightyFontsize pinkColor thickFont standardVerticalBottomMargin">نام فروشگاه یا فروشنده</div>
                <div class="organizer">
                    <div class="mapHolder relativeMatter">
                        <img src="images/minimap.jpg">
                        <div class="locationMark"><span class="icon icon-location2 pinkColor eightyFontsize objectInMiddle"></span> </div>
                    </div>
                </div>
                <div class="organizer standardPadding borderBottom">
                    <div class="organizer standardHalfVerticalMargin thickFont">آدرس</div>
                    <div class="organizer">
                        تهران، خیابان ولیعصر، بالاتر از میدان فاطمی، تقاطع
                        مطهری، پله اول، پلاک 3، واحد 2
                    </div>
                </div>
                <div class="organizer standardPadding borderBottom">
                    <div class="organizer standardHalfVerticalMargin thickFont">شماره تلفن</div>
                    <div class="organizer"><span>09118546483</span> - <span>09116857803</span></div>
                </div>
                <div class="organizer standardPadding borderBottom">
                    <div class="organizer standardHalfVerticalMargin thickFont">نمونه محصولات</div>
                    <div class="fourFullColumns">
                        <div class="squareItem relativeMatter">
                            <img src="" class="imageInMiddle">
                        </div>
                    </div>
                    <div class="fourFullColumns">
                        <div class="squareItem relativeMatter">
                            <img src="" class="imageInMiddle">
                        </div>
                    </div>
                    <div class="fourFullColumns ">
                        <div class="squareItem relativeMatter">
                            <img src="" class="imageInMiddle">
                        </div>
                    </div>
                    <div class="fourFullColumns">
                        <div class="squareItem relativeMatter">
                            <img src="" class="imageInMiddle">
                        </div>
                    </div>
                </div>
                <div class="organizer standardPadding borderBottom">
                    <div class="tagInner outlineButton fillButton standardPadding whiteColor pinkBack thickFont">سایر محصولات فروشگاه</div>
                </div>
            </div>
        </div>
    </div>

</div>
 

@section Script{
 
    <script>
      var Data = @Html.Raw(Json.Encode(Model));
    </script> 
    <script src="~/newAsset/js/getProduct.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcRl8YOh6SJZ3dHqzY6ImgqEM9WNd-aE0"></script>

}
 


@*<div id="Middle" >
        <div id="GalleryAndInfes">
            <div id="GalleryHolder">
                <div class="gallery">
                    <div class="images">
                        <img ng-src="~/{{Data.Product.ImgAddress}}" />
                    </div>
                </div>

            </div>
            <div id="InfoHolder">
                <div id="MapAndSellerInfoes">
                    <div id="MiniMapHolder" ng-show="Data.StoreSummery.Latitude!=null"></div>
                    <div id="SellerInfoHolder">
                        <div id="addToBascketButton" style="text-align:center">
                            <a class="btn btn-switch" style="background-color: #b9b9b9;padding: 5px;" href="~/shop/code/{{Data.StoreSummery.Id}}"> سایر محصولات فروشنده </a>
                        </div>
                     </div>
                </div>
                <div id="ProductAndPriceInfoes">
                    <div id="ProductName">
                        <div id="NameOfTheProductHolder">

                            <div id="NameOfTheProduct" ng-bind="Data.Product.Name"></div>
                        </div>
                        <div id="PriceOfTheProduct">

                            <div ng-show="Data.Product.DiscountedPrice">
                                <div id="PriceSubject">قیمت :</div>
                                <div id="OriginalPrice" ng-bind="Data.Product.Price+' تومان '"></div>
                                <div id="OffPrice2" ng-bind="Data.Product.DiscountedPrice+' تومان '"></div>
                            </div>
                            <div ng-hide="Data.Product.DiscountedPrice">
                                <div id="PriceSubject">قیمت :</div>
                                <div id="OffPrice2" ng-bind="Data.Product.Price +' تومان '"></div>
                            </div>

                        </div>

                        <div ng-show="Data.Colors.length!=0" id="ColorsOfTheProducts">
                            <div id="ColorSubject" style="width: 71px;">رنگ ها :</div>
                            <div ng-repeat="color in Data.Colors" class="ColoSeperator" style="background-color:{{color.ColorHex}} "></div>
                        </div>
                    </div>
                    <div class="Outer" ng-show="Data.Product.MadeIn">
                        <div class="InnerSubject">کشور سازنده :</div>
                        <div class="InnerInformation" ng-bind="Data.Product.MadeIn"></div>
                    </div>

                    <div id="AddressTags">
                        <div ng-show="Data.StoreSummery.CityName && Data.StoreSummery.CityName!='-'" id="CityAndStateTags">
                            <div ng-bind="Data.StoreSummery.CityName" class="Tag"></div>
                        </div>
                        <div ng-show="Data.StoreSummery.Name" class="Outer">
                            <div class="InnerSubject">نام فروشگاه :</div>
                            <div class="InnerInformation" ng-bind="Data.StoreSummery.Name"></div>
                        </div>
                        <div ng-show="Data.StoreSummery.Place" class="Outer">
                            <div class="InnerSubject">آدرس :</div>
                            <div class="InnerInformation" ng-bind="Data.StoreSummery.Place"></div>
                        </div>

                        <div ng-show="Data.StoreSummery.PhoneNumber" class="Outer">
                            <div class="InnerSubject">تلفن تماس :</div>
                            <div ng-bind="Data.StoreSummery.PhoneNumber" class="InnerInformation"></div>
                        </div>

                    </div>
                    <div id="SellerInfoHolder">
                        <div id="OtherProducts" ng-show="Data.Product.CanSend && Data.Product.CanSend" style="width: 90%;background-color: rgba(109, 216, 23, 0.55);font-size: 17px;"><a ng-click="AddToBasket()">افزودن به سبد خرید</a></div>

                     </div>

                </div>
                <div id="SpecialAbilities">
                    <div ng-show="Data.Product.CanGiveBack" class="giveBack" ripple="ripple" ripple-color="#FFF">قابل پس دادن</div>
                    <div ng-show="Data.Product.CanSend" class="Send" ripple="ripple" ripple-color="#FFF">قابل ارسال</div>
                    <div ng-show="Data.Product.Changeability" class="Switch" ripple="ripple" ripple-color="#FFF">قابل تعویض</div>
                    <div ng-show="Data.Product.IsExist" class="SpecialProduct" ripple="ripple" ripple-color="#FFF">موجود</div>
                </div>
            </div>
            <div id="DetailTabs" ng-show="Data.ProductAttrbiutesViewModels!=nul">

                <div class="tabs">
                    <div class="tabs-header">
                        <div class="border"></div>
                        <ul style="margin-top:0;">
                            <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">مشخصات محصول</a></li>
                           </ul>
                        <nav class="tabs-nav"><i id="prev" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE314;</i><i id="next" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE315;</i></nav>
                    </div>
                    <div class="tabs-content">
                        <div tab-id="1" id="TabOneDetailes" class="tab active">

                            <div ng-show="Data.ProductAttrbiutesViewModels" ng-repeat="item in Data.ProductAttrbiutesViewModels">
                                <div ng-if="$index %2 == 0">
                                    <div class="rightSide" style="height:30px;">
                                        <div class="TabHolder">
                                            <div class="HeaderTabInner" ng-bind="item.AttributeName"> </div>
                                            <div class="ContentTabInner" ng-bind="item.Value"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$index %2 !=0">
                                    <div class="LeftSide" style="height:30px;">
                                        <div class="TabHolder">
                                            <div class="HeaderTabInner" ng-bind="item.AttributeName"> </div>
                                            <div class="ContentTabInner" ng-bind="item.Value"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@