@model DataModel.Models.ViewModel.CompleteProductForOne

@{
    ViewBag.Title = "نام محصول : " + Model.Product.Name + " , قیمت: " + Model.Product.Price + " , نام فروشگاه : " + Model.StoreSummery.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 





































 
    <script src="~/Scripts/angular.min.js"></script>
 
    <script>
        angular.module('ShopApp', [])
        .controller('ShowProductController', ['$scope', function ($scope) {

            $scope.Data = @Html.Raw(Json.Encode(Model));
            console.log($scope.Data)

            if ($scope.Data && $scope.Data.Product && $scope.Data.Product.ImgAddress && $scope.Data.Product.ImgAddress!=null) {
                var temp = $scope.Data.Product.ImgAddress + '';
                $scope.Data.Product.ImgAddress = temp.replace(/\\/g, '/');
            }else{
                $scope.Data.Product.ImgAddress = "Img/MainPage/NoProductPic.png"
            }

            if ($scope.Data && $scope.Data.Product && $scope.Data.Product.OtherImagesAddress) {
                $.each($scope.Data.Product.OtherImagesAddress , function(index,value){
                    var temp = $scope.Data.Product.OtherImagesAddress[index].ImgAddress + '';
                    $scope.Data.Product.OtherImagesAddress[index].ImgAddress = temp.replace(/\\/g, '/');
                })
            }

            if ($scope.Data && $scope.Data.Product && $scope.Data.Product.DiscountedPrice) {
                var temp = $scope.Data.Product.DiscountedPrice + '';
                $scope.Data.Product.DiscountedPrice = temp.replace(/,/g, '').replace(/(\d)(?=(\d{3})+$)/g, '$1,');
            }

            if ($scope.Data && $scope.Data.Product && $scope.Data.Product.Price) {
                var temp = $scope.Data.Product.Price + '';
                $scope.Data.Product.Price = temp.replace(/,/g, '').replace(/(\d)(?=(\d{3})+$)/g, '$1,');
            }

            if($scope.Data&&$scope.Data.ProductAttrbiutesViewModels&&$scope.Data.ProductAttrbiutesViewModels!='')
            {
                $.each($scope.Data.ProductAttrbiutesViewModels, function (index, value) {
                    if (value) {
                        value.Value = '';
                        $.each(value.AttributeValues, function (index2, value2) {
                            if (value2) {
                                if (value.Value) {
                                    value.Value += ' , ' + value2;
                                } else {
                                    value.Value += value2;
                                }
                            }
                        })
                    }
                })
            }
           
            $scope.AddToBasket=function(){

                var realPrice='';
                if($scope.Data.Product && $scope.Data.Product.DiscountedPrice && $scope.Data.Product.DiscountedPrice!=0){
                    realPrice=$scope.Data.Product.DiscountedPrice;
                }
                else if($scope.Data.Product && $scope.Data.Product.Price && $scope.Data.Product.Price!=0){
                    realPrice=$scope.Data.Product.Price;
                }
                else{
                    realPrice=0;
                }

                if(realPrice && realPrice!=0){
                    realPrice= realPrice.replace(/,/g,'');
                }

                var ProductToShoppingBagDataModel ={
                    ProductCode:$scope.Data.Product.Id,
                    ProductName:$scope.Data.Product.Name,
                    RealPrice:realPrice,
                    StoreName:$scope.Data.StoreSummery.Name,
                    ImgAddress:$scope.Data.Product.ImgAddress,
                    PostalCostInCountry:$scope.Data.Product.PostalCostInCountry,
                    PostalCostInTown:$scope.Data.Product.PostalCostInTown
            };

                console.log(ProductToShoppingBagDataModel)

                $.ajax({
                    type: "GET",
                    url: "/order/AddToBag/",
                    data: ProductToShoppingBagDataModel,
                    success: function (result) {
                       window.location.href='/order' ;
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            };

            var lat = $scope.Data.StoreSummery.Latitude;
            var longi = $scope.Data.StoreSummery.Longitude;

            //Google map Api
            $(function () {
                var latlng = new google.maps.LatLng(parseFloat(lat), parseFloat(longi));
                var options = {
                    zoom: 13,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("MiniMapHolder"), options);
                new google.maps.Marker({
                    position: latlng,
                    map: map
                });

            });


        }]);

    </script> 

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcRl8YOh6SJZ3dHqzY6ImgqEM9WNd-aE0"></script>



 








@*<div id="Middle" ng-app="ShopApp" ng-controller="ShowProductController">
        <div id="GalleryAndInfes">
            <div id="GalleryHolder">
                <div class="gallery">
                    <div class="images">
                        <img ng-src="~/{{Data.Product.ImgAddress}}" />
                    </div>
                </div>

            </div>
            <div id="InfoHolder">
                <div id="MapAndSellerInfoes">
                    <div id="MiniMapHolder" ng-show="Data.StoreSummery.Latitude!=null"></div>
                    <div id="SellerInfoHolder">
                        <div id="addToBascketButton" style="text-align:center">
                            <a class="btn btn-switch" style="background-color: #b9b9b9;padding: 5px;" href="~/shop/code/{{Data.StoreSummery.Id}}"> سایر محصولات فروشنده </a>
                        </div>
                     </div>
                </div>
                <div id="ProductAndPriceInfoes">
                    <div id="ProductName">
                        <div id="NameOfTheProductHolder">

                            <div id="NameOfTheProduct" ng-bind="Data.Product.Name"></div>
                        </div>
                        <div id="PriceOfTheProduct">

                            <div ng-show="Data.Product.DiscountedPrice">
                                <div id="PriceSubject">قیمت :</div>
                                <div id="OriginalPrice" ng-bind="Data.Product.Price+' تومان '"></div>
                                <div id="OffPrice2" ng-bind="Data.Product.DiscountedPrice+' تومان '"></div>
                            </div>
                            <div ng-hide="Data.Product.DiscountedPrice">
                                <div id="PriceSubject">قیمت :</div>
                                <div id="OffPrice2" ng-bind="Data.Product.Price +' تومان '"></div>
                            </div>

                        </div>

                        <div ng-show="Data.Colors.length!=0" id="ColorsOfTheProducts">
                            <div id="ColorSubject" style="width: 71px;">رنگ ها :</div>
                            <div ng-repeat="color in Data.Colors" class="ColoSeperator" style="background-color:{{color.ColorHex}} "></div>
                        </div>
                    </div>
                    <div class="Outer" ng-show="Data.Product.MadeIn">
                        <div class="InnerSubject">کشور سازنده :</div>
                        <div class="InnerInformation" ng-bind="Data.Product.MadeIn"></div>
                    </div>

                    <div id="AddressTags">
                        <div ng-show="Data.StoreSummery.CityName && Data.StoreSummery.CityName!='-'" id="CityAndStateTags">
                            <div ng-bind="Data.StoreSummery.CityName" class="Tag"></div>
                        </div>
                        <div ng-show="Data.StoreSummery.Name" class="Outer">
                            <div class="InnerSubject">نام فروشگاه :</div>
                            <div class="InnerInformation" ng-bind="Data.StoreSummery.Name"></div>
                        </div>
                        <div ng-show="Data.StoreSummery.Place" class="Outer">
                            <div class="InnerSubject">آدرس :</div>
                            <div class="InnerInformation" ng-bind="Data.StoreSummery.Place"></div>
                        </div>

                        <div ng-show="Data.StoreSummery.PhoneNumber" class="Outer">
                            <div class="InnerSubject">تلفن تماس :</div>
                            <div ng-bind="Data.StoreSummery.PhoneNumber" class="InnerInformation"></div>
                        </div>

                    </div>
                    <div id="SellerInfoHolder">
                        <div id="OtherProducts" ng-show="Data.Product.CanSend && Data.Product.CanSend" style="width: 90%;background-color: rgba(109, 216, 23, 0.55);font-size: 17px;"><a ng-click="AddToBasket()">افزودن به سبد خرید</a></div>

                     </div>

                </div>
                <div id="SpecialAbilities">
                    <div ng-show="Data.Product.CanGiveBack" class="giveBack" ripple="ripple" ripple-color="#FFF">قابل پس دادن</div>
                    <div ng-show="Data.Product.CanSend" class="Send" ripple="ripple" ripple-color="#FFF">قابل ارسال</div>
                    <div ng-show="Data.Product.Changeability" class="Switch" ripple="ripple" ripple-color="#FFF">قابل تعویض</div>
                    <div ng-show="Data.Product.IsExist" class="SpecialProduct" ripple="ripple" ripple-color="#FFF">موجود</div>
                </div>
            </div>
            <div id="DetailTabs" ng-show="Data.ProductAttrbiutesViewModels!=nul">

                <div class="tabs">
                    <div class="tabs-header">
                        <div class="border"></div>
                        <ul style="margin-top:0;">
                            <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">مشخصات محصول</a></li>
                           </ul>
                        <nav class="tabs-nav"><i id="prev" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE314;</i><i id="next" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE315;</i></nav>
                    </div>
                    <div class="tabs-content">
                        <div tab-id="1" id="TabOneDetailes" class="tab active">

                            <div ng-show="Data.ProductAttrbiutesViewModels" ng-repeat="item in Data.ProductAttrbiutesViewModels">
                                <div ng-if="$index %2 == 0">
                                    <div class="rightSide" style="height:30px;">
                                        <div class="TabHolder">
                                            <div class="HeaderTabInner" ng-bind="item.AttributeName"> </div>
                                            <div class="ContentTabInner" ng-bind="item.Value"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$index %2 !=0">
                                    <div class="LeftSide" style="height:30px;">
                                        <div class="TabHolder">
                                            <div class="HeaderTabInner" ng-bind="item.AttributeName"> </div>
                                            <div class="ContentTabInner" ng-bind="item.Value"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
