@model IEnumerable<DataModel.Models.ViewModel.OrderViewModelForAdmins>

@{
    ViewBag.Title = "Index";
}
<h2>
    @Html.ActionLink("بازگشت به پنل مدیریت", "Index", "Panel")
</h2>
<h1>سفارشات</h1>

@Html.Partial("_OrderList", Model)
<div>
    @Html.ActionLink("صفحه بعدی", "Index", new { pageNumber = (int)ViewBag.PageNumber + 1 })
    @Html.ActionLink("صفحه قبلی", "Index", new { pageNumber = (int)ViewBag.PageNumber - 1 })
</div>
