@model IEnumerable<DataModel.Entities.RelatedToProduct.Category>
@{
    ViewBag.Title = "ثبت فروشگاه ";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ایجاد فرروشگاه</title>
    <link href="~/Css/boilerplate.css" rel="stylesheet" />
    <link href="~/Css/StoreRegister/StoreRegister.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <link href="~/fonts/Font.css" rel="stylesheet" />
    <link href="~/Content/DropdownMultiSelect-sumoselect/sumoselect.css" rel="stylesheet" />


</head>

<body>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="backToHome"><a href="/">برگشت به صفحه اصلی</a></div>
        <div id="Container">
            <div id="LogInOpen">
                <div id="LogInFaild"></div>
                <div id="LogInSucseed"></div>
                <div id="LogInLoadingHolder">
                    <div id="LogInLoading"></div><p class="laoder">لطفا صبر کنید</p>
                </div>
            </div>

            <div id="hommy">
                <div id="hommyOutline">
                    <div class="rightOutlinehommy"></div>
                    <div class="leftOutlinehommy"></div>
                    <div class="topOutlinehommy"></div>
                    <div class="bottomOutlinehommy"></div>
                    <div id="hommyContent">
                        <div class="topIcon"></div>
                        <div class="middleContent">
                            <div id="preHommy">مخصوص فروش هنرهای خانگی و دستی</div>
                            <div id="headerHommy">فروشگاه خانگی</div>
                            <div id="explainHommy">
                                خیاطی-صنایع خانگی لباس و هنرهای دستی
                                خود را سفارش بگیرید ، تولید کرده بفروشید
                            </div>
                        </div>
                        <div class="downPointer"></div>
                    </div>
                </div>
            </div>
            <div id="city">
                <div id="cityOutline">
                    <div class="rightOutlinecity"></div>
                    <div class="leftOutlinecity"></div>
                    <div class="topOutlinecity"></div>
                    <div class="bottomOutlinecity"></div>
                    <div id="cityContent">
                        <div class="topIcon"></div>
                        <div class="middleContent">
                            <div id="precity">مخصوص فروشگاه های واقعی سطح شهر</div>
                            <div id="headercity">فروشگاه شهری</div>
                            <div id="explaincity">
                                محصولات مغازه خود را معرفی کرده و با قیمت
                                گذاری مناسب ان ها را به فروش برسانید
                            </div>
                        </div>
                        <div class="downPointer"></div>
                    </div>
                </div>
            </div>
            <div id="online">
                <div id="onlineOutline">
                    <div class="rightOutlineonline"></div>
                    <div class="leftOutlineonline"></div>
                    <div class="topOutlineonline"></div>
                    <div class="bottomOutlineonline"></div>
                    <div id="onlineContent">
                        <div class="topIcon"></div>
                        <div class="middleContent">
                            <div id="preonline">مخصوص فروشگاه های  مجازی و آنلاین</div>
                            <div id="headeronline">فروشگاه مجازی</div>
                            <div id="explainonline">
                                فروشگاه مجازی خود را در سایت ما تبلیغ کنید
                                محصولات خود را نمایش دهید و شناخته شوید
                            </div>
                        </div>
                        <div class="downPointer"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="form_element">

            <div id="firstBox" class="TestInnerNextNext">
                <div id="Store_information">
                    <div class="cover"><img src="~/Img/step_1.jpg" /></div>

                    <div class="standardPadding">
                        <div id="RegisterSubject" class="question">مشخصات کاربری</div>
                        <div class="Input_In_Box" id="RegisterName">
                            <span class="Header">: تلفن همراه </span>
                            <p class="textBoxInput">
                                <input type="text" id="UserNameTxt" placeholder="تلفن همراه خود را وارد کنید">
                            </p>
                            <div class="Alert" id="Alert_UserName">لطفا شماره تلفن همراه خود را با 09 وارد نمایید</div>
                            <div class="Alert" id="Alert_UserName_Exist"> این شماره تلفن قبلا ثبت شده است</div>
                        </div>
                        <div class="Input_In_Box" id="RegisterTypeName" style="  margin-top: 16px;">
                            <span class="Header">: رمز عبور </span>
                            <p class="textBoxInput">
                                <input type="password" id="PasswordTxt" class="" placeholder="رمز عبور خود را وارد کنید">
                            </p>
                            <div class="Alert" id="Alert_Password">لطفا رمز عبور خود را بیش از 6 حرف انتخاب نمایید</div>
                            <div class="Alert" style="color:#10de03;" id="Alert_Verify_Send">کد فعالسازی به شماره تلفن شما ارسال شد</div>
                        </div>
                        @*<div>
                                <input type="button" style="float:left;" onclick="checkUsernameExist();" value="تایید شماره تلفن" />
                            </div>*@
                        <div class="Input_In_Box" id="Verify_Code" style="display:none; margin-top: 16px;">
                            <span class="Header">: کد فعال سازی را وارد نمایید </span>
                            <p class="textBoxInput">
                                <input type="text" id="VerifyTxt" class="" placeholder="کد فعالسازی خود را وارد کنید">
                            </p>
                            <div class="Alert" id="Alert_Verify">کد فعالسازی صحیح نمی باشد</div>

                        </div>

                        <div class="Input_In_Box">
                            <div class="Alert" id="Alert_UserName_Exist_Wait">لطفا صبر کنید</div>
                        </div>


                    </div>

                    <div id="Back_Question" class="Back">مرحله قبل</div>
                    <div id="Next_TestInnerNext" class="Forward">مرحله بعد</div>
                </div>
            </div>

            <div id="secondBox" class="TestInnerNext">
                <div id="Register_information">
                    <div class="cover"><img src="~/Img/step_2.jpg" /></div>

                    <div class="standardPadding">
                        <div id="StoreSubject" class="question organizer">اطلاعات فروشگاه</div>
                        <div class="Input_In_Box organizer" id="StoreName">
                            <span class="Header">  :نام فروشگاه</span>
                            <p class="textBoxInput">
                                <input type="text" id="StoreNameTxt" placeholder="نام فروشگاه خود را وارد کنید">
                            </p>
                            <div class="Alert" id="Alert_StoreName">لطفا نام فروشگاه را وارد نمایید</div>
                        </div>
                        <div class="Input_In_Box organizer" id="StoreTypeName">
                            <span class="Header">  :نوع کالای فروشگاه </span>
                            <p>
                                <select multiple="multiple" placeholder="نوع محصولات فروشگاه" id="SlectBox">
                                    @*<option value="1">لوازم دیجیتال</option>
                                        <option value="2">لوازم خانگی</option>
                                        <option value="3">آرایشی و بهداشتی</option>
                                        <option value="4">لباس و پوشاک</option>
                                        <option value="5">صنایع دستی و خانگی</option>
                                        <option value="6">سایر موارد</option>*@

                                </select>
                            </p>
                            <div class="Alert" id="Alert_SlectBox">لطفا نوع محصولات فروشگاه خود را انتخاب نمایید</div>
                        </div>
                    </div>

                    @*<div id="Back_StoreInfo" class="Back">مرحله قبل</div>*@
                    <div class="Back">مرحله قبل</div>
                    <div id="Next_communicationInfo" class="Forward ">مرحله بعد</div>

                </div>
            </div>

            <div id="ThiredBox" class="TestInner">
                <div id="communication_information">
                    <div class='cover'><img src='~/Img/step_3.jpg' /></div>
                    <div class="standardPadding">
                        <div id='communicationSubject' class='question'>اطلاعات تماس</div>
                        <div id="communication_Holder">


                        </div>
                    </div>
                    <div id="Back_Register_info" class="Back">مرحله قبل</div>
                    <div id="Next_Finish" class="Forward ">ثبت</div>
                </div>
            </div>
        </div>

        @*<div id="Map">
                <div id="MapSub">فروشگاه خود به طور دقیق روی نقشه مشخص نمایید</div>
                <div id="MapExplain"> ابتدا روی نقشه زوم کنید و محل دقیق مغازه مورد نظر خود را کلیک کنید تا علامت گذاری شده و مشتریان راحت تر به فروشگاه شما دسترسی پیدا کنند</div>
                <div id="End">پایان</div>
            </div>*@



        <div id="MapContainer">

            <div id="Map">
                <div id="MapSub">فروشگاه خود به طور دقیق روی نقشه مشخص نمایید</div>
                <div id="MapHolder">
                    <div id="map-canvas" style="width: 820px; height:310px"></div>

                    <div id="MapErrorHandler">
                        لطفا ابتدا مکان فروشگاه خود را انتخاب نمایید
                    </div>
                </div>
                <div id="MapExplain">
                    ابتدا روی نقشه زوم کنید(علامت + را روی نقشه کلیک کنید) سپس محل فروشگاه خود را کلیک کرده تا علامت گذاری شود
                    <br />
                    هر چه مکان را دقیق تر مشخص نمایید ، مشتریان راحت تر فروشگاه شما را پیدا می کنند
                </div>
            </div>
            <div id="End">
                <div id="ButtonHolder">پایان</div>

            </div>
        </div>

    }


    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/DropdownMultiSelect-sumoselect/jquery.sumoselect.min.js"></script>
    <script src="~/Content/MD5_encriptin/MD5.js"></script>
    <script>

        var KindOfStore = 0;
        var selectCategori = "";
        var IsUsernameExsisted = "";
        var WhantGoPage3 = "";
        var send = "";
        var TempData = "";
        var ajaxresult = "";
        var latlngJson = "";
        var verifyLevel = 0;
        var Categories = $.parseJSON('@Html.Raw(Json.Encode(Model))');

        $(document).ready(function () {

            $('#hommy').show();
            $('#online').show();
            $('#city').show();
            $('#hommy').addClass('FromTop');
            $('#online').addClass('FromTop');
            $('#city').addClass('FromBottom');


            //make multi slected list
            $.each(Categories, function (index, value) {
                $("#SlectBox").append($('<option>').text(value.Name).attr('value', value.Id));
            });
            $('#SlectBox').SumoSelect({
                csvDispCount: 2,
                captionFormat: 'تعداد ' + '{0}' + ' مورد انتخاب شد ',
                okCancelInMulti: false
            });



            //get Citys & States
            $.ajax({
                type: "GET",
                url: "/Account/GetStates/",
                success: function (result) {
                    if (result.Success == true) {
                        ajaxresult = result.Response;
                    } else {
                        console.log("خطا در دریافت اطلاعات ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }


                    $('#MapContainer').show();
                    $('#Map').css("opacity", "0");
                    $('#End').css("opacity", "0");
                    $('#Map').css("z-index", "-1");
                    $('#End').css("z-index", "-1");
                    // $('#End').unbind('click');
                    loadMap();
                },
                error: function () {
                    console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                }
            });

            //disable page 2 element
            document.getElementById('StoreNameTxt').disabled = true;
            $('#SlectBox')[0].sumo.disable();

            $('#Next_communicationInfo').unbind('click');
        });

        //first Question style
        $('#hommy').mouseover(function () {
            $('#hommyContent').addClass('Shrink');
            $('.leftOutlinehommy').addClass('Verticle');
            $('.rightOutlinehommy').addClass('Verticle');
            $('.topOutlinehommy').addClass('hotizantel');
            $('.bottomOutlinehommy').addClass('hotizantel');
            $('#hommyContent').removeClass('ShrinkRev');
            $('.leftOutlinehommy').removeClass('VerticleRev');
            $('.rightOutlinehommy').removeClass('VerticleRev');
            $('.topOutlinehommy').removeClass('hotizantelRev');
            $('.bottomOutlinehommy').removeClass('hotizantelRev');
        });
        $('#city').mouseover(function () {
            $('#cityContent').addClass('Shrink');
            $('.leftOutlinecity').addClass('Verticle');
            $('.rightOutlinecity').addClass('Verticle');
            $('.topOutlinecity').addClass('hotizantel');
            $('.bottomOutlinecity').addClass('hotizantel');
            $('#cityContent').removeClass('ShrinkRev');
            $('.leftOutlinecity').removeClass('VerticleRev');
            $('.rightOutlinecity').removeClass('VerticleRev');
            $('.topOutlinecity').removeClass('hotizantelRev');
            $('.bottomOutlinecity').removeClass('hotizantelRev');
        });
        $('#online').mouseover(function () {
            $('#onlineContent').addClass('Shrink');
            $('.leftOutlineonline').addClass('Verticle');
            $('.rightOutlineonline').addClass('Verticle');
            $('.topOutlineonline').addClass('hotizantel');
            $('.bottomOutlineonline').addClass('hotizantel');
            $('#onlineContent').removeClass('ShrinkRev');
            $('.leftOutlineonline').removeClass('VerticleRev');
            $('.rightOutlineonline').removeClass('VerticleRev');
            $('.topOutlineonline').removeClass('hotizantelRev');
            $('.bottomOutlineonline').removeClass('hotizantelRev');
        });
        $('#hommy').mouseleave(function () {
            $('#hommyContent').removeClass('Shrink');
            $('.leftOutlinehommy').removeClass('Verticle');
            $('.rightOutlinehommy').removeClass('Verticle');
            $('.topOutlinehommy').removeClass('hotizantel');
            $('.bottomOutlinehommy').removeClass('hotizantel');
            $('#hommyContent').addClass('ShrinkRev');
            $('.leftOutlinehommy').addClass('VerticleRev');
            $('.rightOutlinehommy').addClass('VerticleRev');
            $('.topOutlinehommy').addClass('hotizantelRev');
            $('.bottomOutlinehommy').addClass('hotizantelRev');
        });
        $('#city').mouseleave(function () {
            $('#cityContent').removeClass('Shrink');
            $('.leftOutlinecity').removeClass('Verticle');
            $('.rightOutlinecity').removeClass('Verticle');
            $('.topOutlinecity').removeClass('hotizantel');
            $('.bottomOutlinecity').removeClass('hotizantel');
            $('#cityContent').addClass('ShrinkRev');
            $('.leftOutlinecity').addClass('VerticleRev');
            $('.rightOutlinecity').addClass('VerticleRev');
            $('.topOutlinecity').addClass('hotizantelRev');
            $('.bottomOutlinecity').addClass('hotizantelRev');
        });
        $('#online').mouseleave(function () {
            $('#onlineContent').removeClass('Shrink');
            $('.leftOutlineonline').removeClass('Verticle');
            $('.rightOutlineonline').removeClass('Verticle');
            $('.topOutlineonline').removeClass('hotizantel');
            $('.bottomOutlineonline').removeClass('hotizantel');
            $('#onlineContent').addClass('ShrinkRev');
            $('.leftOutlineonline').addClass('VerticleRev');
            $('.rightOutlineonline').addClass('VerticleRev');
            $('.topOutlineonline').addClass('hotizantelRev');
            $('.bottomOutlineonline').addClass('hotizantelRev');
        });

        //first page code after click
        $('#city').on("click", function () {

            KindOfStore = 1;

            document.getElementById('hommy').style.zIndex = "0";
            document.getElementById('city').style.zIndex = "1";
            document.getElementById('online').style.zIndex = "0";
            $('#hommy').addClass('ClickOne');
            $('#online').addClass('ClickTwo');
            $('#city').addClass('ClickThree');

            //var txt = " <div class='Input_In_Box' id='PhoneNumber'>"

            //    + " <span class='Header'>  :شماره تماس  </span>"
            //    + "<p class='textBoxInput'>"
            //    + "<input type='number' id='PhoneNumberTxt' placeholder='شماره تماس   را وارد کنید'>"
            //    + " </p>"
            //    + "<div class='Alert' id='Alert_PhoneNumberTxt'>لطفا شماره تماس  را وارد نمایید</div>"
            //    + "</div>";

            var txt = " <div class='Input_In_Box' id='CityAndState'>"
                 + " <span class='Header'>  :استان و شهرستان </span>"
                 + "<p class='textBoxInput'>"
                 + " <select  placeholder='استان' class='ForDistance' style='margin-bottom: 18px;' id='State'>"
                 + " </select> "
                 + " </p>"
                 + "<p class='textBoxInput'>"
                 + " <select placeholder='شهرستان' class='ForDistance_2' id='City'>"
                 + "<option selected disabled value='' >انتخاب نمایید</option>"
                 + " </select> "
                 + " </p>"
                 + "<div class='Alert' id='Alert_CityAndStateTxt'>ابتدا استان و سپس شهرستان خود را انتخاب نمایید</div>"
                 + "</div>";

            txt += " <div class='Input_In_Box' id='StoreAddress'>"
                + " <div class='Header' style='margin-top: 78px;'>  :آدرس فروشگاه </div>"
                + "<p class='textBoxInput'>"
                + "<textarea  class='WidthMore' id='StoreAddressTxt' placeholder='آدرس فروشگاه خود را وارد کنید'></textarea> "
                + " </p>"
                + "<div class='Alert' id='Alert_StoreAddressTxt'>لطفا آدرس فروشگاه خود را وارد نمایید</div>"
                + "</div>";

            $('#communication_Holder').html(txt);



            //fill the Citys drop down list
            $("#State").on("change", function () {
                $("#City").html("<option selected disabled value='' >انتخاب نمایید</option>");
                $.each(ajaxresult, function (index, value) {
                    if (value.Id == $("#State option:selected").val()) {
                        $.each(value.Cities, function (index2, value2) {
                            $("#City").append($('<option>').text(value2.Name).attr('value', value2.Id));
                        });
                    };
                });
            });

            setTimeout(function () {
                $('#form_element').addClass("JumpRight");
                $('#form_element').show();
            }, 1200);

            loadMap();

        });

        $('#hommy').on("click", function () {

            KindOfStore = 2;

            document.getElementById('hommy').style.zIndex = "1";
            document.getElementById('city').style.zIndex = "0";
            document.getElementById('online').style.zIndex = "0";
            $('#hommy').addClass('ClickOne');
            $('#online').addClass('ClickTwo');
            $('#city').addClass('ClickThree');

            //var txt = " <div class='Input_In_Box' id='PhoneNumber'>"
            //    + " <span class='Header'>  :شماره تلفن </span>"
            //    + "<p class='textBoxInput'>"
            //    + "<input type='number' id='PhoneNumberTxt' placeholder='شماره تماس خود را وارد کنید'>"
            //    + " </p>"
            //    + "<div class='Alert' id='Alert_PhoneNumberTxt'>لطفا شماره تماس خود را وارد نمایید</div>"
            //    + "</div>";
            var txt = " <div class='Input_In_Box' id='SallerName'>"
                + " <span class='Header'>  :نام فروشنده </span>"
                + "<p class='textBoxInput'>"
                + "<input type='text' id='SallerNameTxt' placeholder='نام فروشنده را وارد کنید'>"
                + " </p>"
                + "<div class='Alert' id='Alert_SallerNameTxt'>لطفا نام فروشنده را وارد نمایید</div>"
                + "</div>";

            $('#communication_Holder').html(txt);

            setTimeout(function () {
                $('#form_element').addClass("JumpRight");
                $('#form_element').show();
            }, 900);

        });

        $('#online').on("click", function () {

            KindOfStore = 3;

            document.getElementById('hommy').style.zIndex = "0";
            document.getElementById('city').style.zIndex = "0";
            document.getElementById('online').style.zIndex = "1";
            $('#hommy').addClass('ClickOne');
            $('#online').addClass('ClickTwo');
            $('#city').addClass('ClickThree');

            //var txt = " <div class='Input_In_Box' id='PhoneNumber'>"
            //    + " <span class='Header'>  :شماره تلفن </span>"
            //    + "<p  class='textBoxInput'>"
            //    + "<input type='number' id='PhoneNumberTxt' placeholder='شماره تماس خود را وارد کنید'>"
            //    + " </p>"
            //    + "<div class='Alert' id='Alert_PhoneNumberTxt'>لطفا شماره تماس خود را وارد نمایید</div>"
            //    + "</div>";


            var txt = " <div class='Input_In_Box' id='SiteName'>"
                  + " <span class='Header'>  :آدرس وب سایت یا کانال </span>"
                  + "<p class='textBoxInput'>"
                  + "<input type='text' id='SiteNameTxt' placeholder='آدرس سایت یا کانال خود را وارد کنید'>"
                  + " </p>"
                  + "<div class='Alert' id='Alert_SiteNameTxt'>لطفا آدرس سایت خود را وارد نمایید</div>"
                  + "</div>";


            txt += " <div class='Input_In_Box' id='EmailAddres'>"
                + " <span class='Header'>  :آدرس ایمیل </span>"
                + "<p class='textBoxInput'>"
                + "<input type='text' id='EmailAddresTxt' placeholder='آدرس ایمیل خود را وارد کنید'>"
                + " </p>"
                + "<div class='Alert' id='Alert_EmailAddresTxt'>لطفا آدرس ایمیل خود را وارد نمایید</div>"
                + "</div>";

            $('#communication_Holder').html(txt);

            setTimeout(function () {
                $('#form_element').addClass("JumpRight");
                $('#form_element').show();
            }, 900);

        });

        //click on Back Page Button  - Page 1 => Question
        $('#Back_Question').on("click", function () {
            $('#form_element').hide();
            $('#hommy').removeClass('ClickOne');
            $('#online').removeClass('ClickTwo');
            $('#city').removeClass('ClickThree');

            $('#hommy').show();
            $('#online').show();
            $('#city').show();
            $('#hommy').addClass('FromTop');
            $('#online').addClass('FromTop');
            $('#city').addClass('FromBottom');
        });

        //click Next Page Button  - Page 1 => 2
        $('#Next_TestInnerNext').on("click", function () {
            if (verifyLevel == 0) {

                if ($('#UserNameTxt').val().length != 11) {

                    $('#Alert_UserName').css("display", "block");

                    if ($('#PasswordTxt').val().length <= 5) {
                        $('#Alert_Password').css("display", "block");
                    }
                } else if ($('#PasswordTxt').val().length <= 5) {

                    $('#Alert_Password').css("display", "block");
                } else {
                    checkUsernameExist();
                }
            }
            else {
                verifyNumber();
            }
        });

        //click Next Page   - Page 1 => 2 || 3 => 2
        $('#secondBox').on("click", function (evt) {

            //if (evt.target.id == "#Back_StoreInfo")
            //    return;

            //else if ($(evt.target).closest('#Back_StoreInfo').length)
            //    return;

            //if (evt.target.id == "#Next_communicationInfo")
            //    return;

            //else if ($(evt.target).closest('#Next_communicationInfo').length)
            //    return;

            //else if ($(evt.target).closest('#UserNameTxt').length)
            //    return;

            //else if ($(evt.target).closest('#PasswordTxt').length)
            //    return;

            //else
            //    next1();

            if (evt.target.id == "#Back_StoreInfo")
                return;

            else if ($(evt.target).closest('#Back_StoreInfo').length)
                return;

            if (evt.target.id == "#Next_communicationInfo")
                return;

            else if ($(evt.target).closest('#Next_communicationInfo').length)
                return;

            else if ($(evt.target).closest('#StoreNameTxt').length)
                return;

            else if ($(evt.target).closest('#SlectBox').length)
                return;
            else if (verifyLevel!=2)
                return;
            else
                next1();
        });

        //click on Back Page Button  - Page 2 => 1
        $('#Back_StoreInfo').on("click", function () {
            back1();
        });

        //click on Back Page   - Page 2 => 1
        $('#firstBox').on("click", function (evt) {
            if (evt.target.id == "#Next_TestInnerNext")
                return;

            else if ($(evt.target).closest('#Next_TestInnerNext').length)
                return;

            else if ($(evt.target).closest('#UserNameTxt').length)
                return;

            else if ($(evt.target).closest('#PasswordTxt').length)
                return;

           // else back1();
        });

        //Next Page click - Page 2 => 3  ++  also in the next1 & back2 are crated
        $('#Next_communicationInfo').on("click", function () {
            WhantGoPage3 = "1";
            next2();
        });

        //click Next Page   - Page 2 => 3
        $('#ThiredBox').on("click", function (evt) {

            if (evt.target.id == "#Back_Register_info")
                return;

            else if ($(evt.target).closest('#Back_Register_info').length)
                return;

            if (evt.target.id == "#Next_Finish")
                return;

            else if ($(evt.target).closest('#Next_Finish').length)
                return;

            else if (KindOfStore == 1) {

                //if ($(evt.target).closest('#PhoneNumberTxt').length)
                //    return;

                //else
                if ($(evt.target).closest('#State').length)
                    return;

                else if ($(evt.target).closest('#City').length)
                    return;

                else if ($(evt.target).closest('#StoreAddressTxt').length)
                    return;

                else {
                    WhantGoPage3 = "1";
                    next2();
                }
            }

            else if (KindOfStore == 2) {

                //if ($(evt.target).closest('#PhoneNumberTxt').length)
                //    return;

                //else
                if ($(evt.target).closest('#SallerNameTxt').length)
                    return;

                else {
                    WhantGoPage3 = "1";
                    next2();
                }
            }

            else if (KindOfStore == 3) {

                //if ($(evt.target).closest('#PhoneNumberTxt').length)
                //    return;

                //else
                if ($(evt.target).closest('#SiteNameTxt').length)
                    return;

                else if ($(evt.target).closest('#EmailAddresTxt').length)
                    return;

                else {
                    WhantGoPage3 = "1";
                    next2();
                }
            }





        });

        //click Finish Page   - Map => Finish
        $('#End').on("click", function () {
            if (latlngJson == "") {
                $('#MapErrorHandler').css("z-index", 2001).fadeIn(1000).fadeTo(2000, 1.0).fadeOut(1000);

            } else {
                save();
            }
        });

        //check username exist or not
        //$('#UserNameTxt').blur(function () {
        //    checkUsernameExist();

        //});
        var sendAjax = 0;
        function checkUsernameExist() {
            if (sendAjax == 0) {
                sendAjax = 1;
                $('#Alert_Password').css("display", "none");
                $('#Alert_UserName').css("display", "none");
                $('#Alert_UserName_Exist').hide();

                IsUsernameExsisted = "";
                $('#Alert_UserName_Exist_Wait').fadeToggle();
                $.ajax({
                    type: "GET",
                    url: "/Api/sms/register",
                    data: { phoneNumber: $('#UserNameTxt').val() },
                    success: function (result) {
                        sendAjax = 0;
                        if (result.Success == false) {
                            IsUsernameExsisted = 'True';
                            $('#Alert_UserName_Exist').html(result.Response);
                            $('#Alert_UserName_Exist').show();
                            $('#Alert_UserName_Exist_Wait').css("display", "none");

                        }
                        else {
                            $('#Alert_UserName_Exist_Wait').css("display", "none");
                            $('#Alert_Verify_Send').slideToggle();
                            $('#Verify_Code').slideToggle();
                            verifyLevel = 1;
                            IsUsernameExsisted = 'False';

                            //  if (WhantGoPage3 == "1") {
                            //      WhantGoPage3 = "";
                            //     next2();
                            //  }

                        }
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }

        };

        function verifyNumber() {
            if ($('#VerifyTxt').val().length == 4) {

                $('#Alert_UserName_Exist_Wait').fadeToggle();
                $.ajax({
                    type: "POST",
                    //  url: "/Account/IsUsernameExsisted/",
                    // data: { username: $('#UserNameTxt').val() },
                    url: "/Api/account/userregister",
                    data: {
                        phoneNumber: $('#UserNameTxt').val(),
                        Password: $.md5($('#PasswordTxt').val()),
                        ConfirmPassword: $.md5($('#PasswordTxt').val()),
                        VerificationCode: $('#VerifyTxt').val(),
                    },
                    success: function (result) {

                        if (result.Success == true) {
                            $('#Alert_UserName_Exist_Wait').css("display", "none");
                            $('#Verify_Code').slideToggle();
                            verifyLevel = 2;
                            next1();


                        }
                        else {

                            $('#Alert_UserName_Exist').html(result.Response);
                            $('#Alert_UserName_Exist').show();
                            $('#Alert_UserName_Exist_Wait').css("display", "none");



                        }
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    }
                });
            }
        }
        function next1() {
            if ($('#UserNameTxt').val().length != 11) {

                $('#Alert_UserName').css("display", "block");

                if ($('#PasswordTxt').val().length <= 5) {
                    $('#Alert_Password').css("display", "block");
                }
            } else if ($('#PasswordTxt').val().length <= 5) {

                $('#Alert_Password').css("display", "block");
            } else {
                if (ajaxresult != "") {

                    //disable Page 1 element
                    document.getElementById('UserNameTxt').disabled = true;
                    document.getElementById('PasswordTxt').disabled = true;

                    document.getElementById('StoreNameTxt').disabled = false;
                    $('#SlectBox')[0].sumo.enable();

                    $('#Next_communicationInfo').bind('click', function () {
                        WhantGoPage3 = "1";
                        next2();
                    });


                    //disable page 3 element
                    if (KindOfStore == 1) {
                        //document.getElementById('PhoneNumberTxt').disabled = true;
                        document.getElementById('StoreAddressTxt').disabled = true;
                        document.getElementById('State').disabled = true;
                        document.getElementById('City').disabled = true;

                        //fill the State drop down list
                        $("#State").html("<option selected disabled value='' >انتخاب نمایید</option>");
                        $.each(ajaxresult, function (index, value) {
                            $("#State").append($('<option>').text(value.Name).attr('value', value.Id));
                        });
                    } else if (KindOfStore == 2) {
                        // document.getElementById('PhoneNumberTxt').disabled = true;
                    } else if (KindOfStore == 3) {
                        //document.getElementById('PhoneNumberTxt').disabled = true;
                        document.getElementById('SiteNameTxt').disabled = true;
                        document.getElementById('EmailAddresTxt').disabled = true;
                    }

                    $('#Back_Register_info').unbind('click');

                    $('#Next_Finish').unbind('click');


                    selectCategori = $('#SlectBox')[0].sumo.getSelStr().split(',');

                    $('.TestInner').addClass('transfare_2');
                    $('.TestInner').removeClass('transfare_3');
                    $('.TestInner').removeClass('transfare');
                    $('.TestInnerNext').addClass('transfare_3');
                    $('.TestInnerNext').removeClass('transfare_5');
                    $('.TestInnerNext').removeClass('transfare_2');
                    $('.TestInnerNextNext').addClass('transfare_5');
                    $('.TestInnerNextNext').removeClass('transfare_4');
                    $('.TestInnerNextNext').removeClass('transfare_3');

                } else {
                    console.log("لطفا کمی صبر کنید");
                }
            }
        };

        function back1() {
            //enable page 1 element
            document.getElementById('UserNameTxt').disabled = false;
            document.getElementById('PasswordTxt').disabled = false;


            //disable page 2 element
            document.getElementById('StoreNameTxt').disabled = true;
            $('#SlectBox')[0].sumo.disable();

            $('#Next_communicationInfo').unbind('click');

            $('.TestInner').addClass('transfare');
            $('.TestInner').removeClass('transfare_2');
            $('.TestInnerNext').addClass('transfare_2');
            $('.TestInnerNext').removeClass('transfare_3');
            $('.TestInnerNextNext').addClass('transfare_3');
            $('.TestInnerNextNext').removeClass('transfare_5');
            $('.TestInnerNextNext').removeClass('transfare_4');
        };

        function next2() {
            if ($('#StoreNameTxt').val().length <= 0) {

                $('#Alert_StoreName').css("display", "block");

                if ($('#SlectBox')[0].sumo.getSelStr() == "") {
                    $('#Alert_SlectBox').css("display", "block");

                }
            } else if ($('#SlectBox')[0].sumo.getSelStr() == "") {

                $('#Alert_SlectBox').css("display", "block");

            } else {

                ValidationPage3();
                if (IsUsernameExsisted == 'False') {
                    $('#Next_communicationInfo').unbind('click');
                    $('#Next_communicationInfo').unbind('click');


                    //enable Page 1 element
                    document.getElementById('UserNameTxt').disabled = false;
                    document.getElementById('PasswordTxt').disabled = false;

                    //disable page 2 element
                    document.getElementById('StoreNameTxt').disabled = true;
                    $('#SlectBox')[0].sumo.disable();

                    //enable page 3 element
                    if (KindOfStore == 1) {

                        //document.getElementById('PhoneNumberTxt').disabled = false;
                        document.getElementById('StoreAddressTxt').disabled = false;

                        document.getElementById('State').disabled = false;
                        document.getElementById('City').disabled = false;

                        $('#Next_Finish').bind('click', function () {

                            //if ($('#PhoneNumberTxt').val().length == "") {

                            //    $('#Alert_PhoneNumberTxt').css("display", "block");
                            //    if ($('#StoreAddressTxt').val().length == "") {

                            //        $('#Alert_StoreAddressTxt').css("display", "block");
                            //        if ($("#City option:selected").val() == "") {

                            //            $('#Alert_CityAndStateTxt').css("display", "block");
                            //        }

                            //    }
                            //} else
                            if ($('#StoreAddressTxt').val().length == "") {

                                $('#Alert_StoreAddressTxt').css("display", "block");
                                if ($("#City option:selected").val() == "") {

                                    $('#Alert_CityAndStateTxt').css("display", "block");
                                }

                            } else if ($("#City option:selected").val() == "") {

                                $('#Alert_CityAndStateTxt').css("display", "block");
                            } else {
                                $('#form_element').hide();
                                $('#Map').css("z-index", "0");
                                $('#End').css("z-index", "0");
                                $('#Map').animate({ opacity: "1" }, { duration: 1200 });
                                $('#End').animate({ opacity: "1" }, { duration: 1200 });
                                //$('#End').bind('click', function () {
                                //    save();
                                //});
                            }



                        });
                    }
                    else if (KindOfStore == 2) {
                        //document.getElementById('PhoneNumberTxt').disabled = false;
                        document.getElementById('SallerNameTxt').disabled = false;
                        $('#Next_Finish').bind('click', function () {
                            save();
                        });
                    }
                    else if (KindOfStore == 3) {
                        //  document.getElementById('PhoneNumberTxt').disabled = false;
                        document.getElementById('SiteNameTxt').disabled = false;
                        document.getElementById('EmailAddresTxt').disabled = false;
                        $('#Next_Finish').bind('click', function () {
                            save();
                        });
                    }
                    $('#Back_Register_info').bind('click', function () {
                        back2();
                    });


                    $('.TestInner').addClass('transfare_3');
                    $('.TestInner').removeClass('transfare_2');
                    $('.TestInner').removeClass('transfare');
                    $('.TestInnerNext').addClass('transfare_5');
                    $('.TestInnerNext').removeClass('transfare_3');
                    $('.TestInnerNextNext').addClass('transfare_4');
                    $('.TestInnerNextNext').removeClass('transfare_5');


                } else if (IsUsernameExsisted == "") {
                    $('#Alert_UserName_Exist_Wait').show();
                    checkUsernameExist();
                }
            };
        };

        function back2() {

            //disable page 1 element
            document.getElementById('UserNameTxt').disabled = true;
            document.getElementById('PasswordTxt').disabled = true;

            //enable Page 2 element

            document.getElementById('StoreNameTxt').disabled = false;
            $('#SlectBox')[0].sumo.enable();

            $('#Next_communicationInfo').bind('click', function () {
                WhantGoPage3 = "1";
                next2();
            });

            //disable page 3 element
            if (KindOfStore == 1) {
                //  document.getElementById('PhoneNumberTxt').disabled = true;
                document.getElementById('StoreAddressTxt').disabled = true;
                document.getElementById('State').disabled = true;
                document.getElementById('City').disabled = true;
            }
            else if (KindOfStore == 2) {
                // document.getElementById('PhoneNumberTxt').disabled = true;
                document.getElementById('SallerNameTxt').disabled = true;
            }
            else if (KindOfStore == 3) {
                // document.getElementById('PhoneNumberTxt').disabled = true;
                document.getElementById('SiteNameTxt').disabled = true;
                document.getElementById('EmailAddresTxt').disabled = true;
            }
            $('#Back_Register_info').unbind('click');
            $('#Next_Finish').unbind('click');


            $('.TestInner').addClass('transfare_2');
            $('.TestInner').removeClass('transfare_3');
            $('.TestInnerNext').addClass('transfare_3');
            $('.TestInnerNext').removeClass('transfare_5');
            $('.TestInnerNextNext').addClass('transfare_5');
            $('.TestInnerNextNext').removeClass('transfare_3');
            $('.TestInnerNextNext').removeClass('transfare_4');
        };

        function loadMap() {
            //Google Maps Api
            var marker;
            var latlng = new google.maps.LatLng(35.782282, 52.906016);
            var options = {
                zoom: 5,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), options); //دیو ای که قرار است نقشه در آن لود شود را مشخص میکنیم
            //اگر خواستیم پس از کلیک روی  نقطه انتخاب شده ، مطلبی نمایش دهد اینجا مینویستم ، قسمت کامنت پایین هم فعال میکنیم
            //            var infowindow;
            //  var html = "<table>" +
            //           "<tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>" +
            //           "<tr><td>Address:</td> <td><input type='text' id='address'/></td> </tr>" +
            //           "<tr><td>Type:</td> <td><select id='type'>" +
            //           "<option value='bar' SELECTED>bar</option>" +
            //           "<option value='restaurant'>restaurant</option>" +
            //           "</select> </td></tr>" +
            //           "<tr><td></td><td><input type='button' value='Save & Close'   onclick='saveData()'/></td></tr>";
            //infowindow = new google.maps.InfoWindow({
            //    content: html
            //});

            //کلیک کردن روی  نقشه
            google.maps.event.addListener(map, "click", function (event) {
                if (!marker) {            //اگر  نقطه ای را انتخاب نکرده بود
                    marker = new google.maps.Marker({//افزودن نقطه جدید
                        position: event.latLng,
                        map: map
                    });
                    latlngJson = marker.getPosition();

                    $('#MapErrorHandler').fadeOut(500);

                }

                else {
                    // infowindow.open(map, marker);  باز شدن صفحه کامنت
                    marker.setMap(null); //حذف نقطه قبلی
                    marker = new google.maps.Marker({//افزودن نقطه جدید
                        position: event.latLng,
                        map: map
                    });
                    latlngJson = marker.getPosition();

                }
            });





            if (!!navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {

                    latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    options = {
                        zoom: 13,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map-canvas"), options);
                    google.maps.event.addListener(map, "click", function (event) {
                        if (!marker) {
                            marker = new google.maps.Marker({
                                position: event.latLng,
                                map: map
                            });
                            latlngJson = marker.getPosition();
                            $('#MapErrorHandler').fadeOut(500);

                        }

                        else {
                            marker.setMap(null);
                            marker = new google.maps.Marker({
                                position: event.latLng,
                                map: map
                            });
                            latlngJson = marker.getPosition();

                        }
                    });

                });
            }


        };

        function save() {

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            if (KindOfStore == 1) {

                TempData = {
                    "__RequestVerificationToken": token,
                    "UserName": $('#UserNameTxt').val(),
                    "Password": $.md5($('#PasswordTxt').val()),
                    "StoreName": $('#StoreNameTxt').val(),
                    //  "PhoneNumber": $('#PhoneNumberTxt').val(),
                    "StoreTypeCode": KindOfStore,
                    "CategoryCodes": selectCategori.join(','),

                    "CityCode": $("#City option:selected").val(),
                    "Place": $('#StoreAddressTxt').val(),
                    "Latitude": latlngJson.lat(),
                    "Longitude": latlngJson.lng()
                };
                sendData();

            }
            else if (KindOfStore == 2) {


                if ($('#SallerNameTxt').val().length <= 0) {
                    $('#Alert_SallerNameTxt').css("display", "block");

                    //if ($('#PhoneNumberTxt').val().length <= 0) {
                    //    $('#Alert_PhoneNumberTxt').css("display", "block");
                    //}
                }
                    //else if ($('#PhoneNumberTxt').val().length <= 0) {
                    //    $('#Alert_PhoneNumberTxt').css("display", "block");
                    //}
                else {

                    TempData = {
                        "__RequestVerificationToken": token,
                        "UserName": $('#UserNameTxt').val(),
                        "Password": $.md5($('#PasswordTxt').val()),
                        "StoreName": $('#StoreNameTxt').val(),
                        // "PhoneNumber": $('#PhoneNumberTxt').val(),
                        "StoreTypeCode": KindOfStore,
                        "CategoryCodes": selectCategori.join(','),
                        "SallerName": $('#SallerNameTxt').val(),
                        //"IsMale": "true"
                    };
                    sendData();
                }
            }


            else if (KindOfStore == 3) {

                if ($('#EmailAddresTxt').val().length <= 0) {
                    $('#Alert_EmailAddresTxt').css("display", "block");

                    if ($('#SiteNameTxt').val().length <= 0) {
                        $('#Alert_SiteNameTxt').css("display", "block");

                        //if ($('#PhoneNumberTxt').val().length <= 0) {
                        //    $('#Alert_PhoneNumberTxt').css("display", "block");
                        //}
                    }
                }
                else if ($('#SiteNameTxt').val().length <= 0) {
                    $('#Alert_SiteNameTxt').css("display", "block");

                    //if ($('#PhoneNumberTxt').val().length <= 0) {
                    //    $('#Alert_PhoneNumberTxt').css("display", "block");
                    //}
                }
                    //else if ($('#PhoneNumberTxt').val().length <= 0) {
                    //    $('#Alert_PhoneNumberTxt').css("display", "block");
                    //}
                else {

                    TempData = {
                        "__RequestVerificationToken": token,
                        "UserName": $('#UserNameTxt').val(),
                        "Password": $.md5($('#PasswordTxt').val()),
                        "StoreName": $('#StoreNameTxt').val(),
                        // "PhoneNumber": $('#PhoneNumberTxt').val(),
                        "StoreTypeCode": KindOfStore,
                        "CategoryCodes": selectCategori.join(','),
                        "Email": $('#EmailAddresTxt').val(),
                        "Website": $('#SiteNameTxt').val()

                    };
                    sendData();
                }
            }


        };

        function sendData() {
            if (send == "") {
                send = "1";
                if (KindOfStore == 1) {
                    $('#MapContainer').hide();

                }

                $('#form_element').hide();
                $('#LogInOpen').css("z-index", 1).fadeIn(1000);

                $.ajax({
                    url: '/Account/AddStore',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: $.param(TempData),
                    success: function (result) {
                        if (result.Success == true) {

                            $('#LogInLoadingHolder').hide();
                            $('#LogInSucseed').fadeIn(500);


                            //return to root
                            window.location = "/Seller/StoreManagment/SellerPanel";
                        } else {
                            $('#LogInLoadingHolder').hide();
                            $('#LogInFaild').fadeIn(500);

                            console.log("خطا در ارسال اطلاعات");
                            send = "";
                        }
                        //console.log("فروشگاه شما با موفقیت ثبت شد");
                    },
                    error: function () {
                        console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                        send = "";
                    }
                });
            }
        };


        //Validation Error hide - Page 1
        $('#StoreNameTxt').focus(function () {
            $('#Alert_StoreName').css("display", "none");
        });
        $('#SlectBox').on("change", function () {
            $('#Alert_SlectBox').css("display", "none");
        });

        //Validation Error hide - Page 2
        $('#UserNameTxt').focus(function () {
            $('#Alert_UserName').css("display", "none");
            $('#Alert_UserName_Exist').css("display", "none");
            $('#Alert_UserName_Exist_Wait').css("display", "none");

        });
        $('#PasswordTxt').focus(function () {
            $('#Alert_Password').css("display", "none");
        });

        //Validation Error hide - Page 3
        function ValidationPage3() {
            if (KindOfStore == 1) {
                //$('#PhoneNumberTxt').focus(function () {
                //    $('#Alert_PhoneNumberTxt').css("display", "none");
                //});
                $('#StoreAddressTxt').focus(function () {
                    $('#Alert_StoreAddressTxt').css("display", "none");
                });
                $('#City').on("change", function () {
                    $('#Alert_CityAndStateTxt').css("display", "none");
                });

            }
            if (KindOfStore == 2) {

                //$('#PhoneNumberTxt').focus(function () {
                //    $('#Alert_PhoneNumberTxt').css("display", "none");
                //});
                $('#SallerNameTxt').focus(function () {
                    $('#Alert_SallerNameTxt').css("display", "none");
                });
            }
            if (KindOfStore == 3) {
                //$('#PhoneNumberTxt').focus(function () {
                //    $('#Alert_PhoneNumberTxt').css("display", "none");
                //});
                $('#SiteNameTxt').focus(function () {
                    $('#Alert_SiteNameTxt').css("display", "none");
                });
                $('#EmailAddresTxt').focus(function () {
                    $('#Alert_EmailAddresTxt').css("display", "none");
                });
                $('#City').on("change", function () {
                    $('#Alert_CityAndStateTxt').css("display", "none");
                });
            }

        }

        // Validation for Just Number Allow
        //$('#communication_Holder').on('keydown', '#PhoneNumberTxt', function (e) {
        //    -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 37 == e.keyCode || 39 == e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault();
        //});

        //chnage all persian number to en number
        String.prototype.toEnDigit = function () {
            return this.replace(/[\u06F0-\u06F9]+/g, function (digit) {
                var ret = '';
                for (var i = 0, len = digit.length; i < len; i++) {
                    ret += String.fromCharCode(digit.charCodeAt(i) - 1728);
                }
                return ret;
            });
        };

        //chnage all persian number to en number call function
        $("#UserNameTxt").on('input', function () {
            var value = $(this).val();
            $(this).val(value.toEnDigit())
        });


    </script>

    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js? sensor=false"></script>*@


    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcRl8YOh6SJZ3dHqzY6ImgqEM9WNd-aE0"></script>




</body>
</html>
