@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="Middle" style="height:450px;">

    @*<h2>
        کاربری گرامی ، شما مجاز به دسترسی به این صفحه نیستید . لطفا ابتدا وارد شوید

    </h2>*@

</div>

@section Script{
    <script>
        $(function() {
            $('#LogIn').trigger("click");
        })
    </script>
}




 






