@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/MainPage/MainPage.css" rel="stylesheet" />
<div class="boxesForFields" style="text-align:center;">
    <h2 style="direction: rtl;">
        تماس با ما
    </h2>

    <div style="text-align:center">
        <img src="~/Img/contactUs.jpg" style="max-width:450px;"/>
        <h4>
            آدرس : استان تهران ، شهرستان فیروزکوه ، سروستان 2 ، پلاک 14
        </h4>
        <h4>
            شماره تلفن همراه : 09351892347
        </h4>
        <h4>
    شماره تماس : 02176443577
</h4>
    </div>

</div>