@model DataModel.Models.ViewModel.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>عنوان:</h1>
    <h2>@Html.DisplayFor(model => model.Message)</h2>
    <h1>کد رهگیری خطا:</h1>
    <h2> @Html.DisplayFor(model => model.TrackingCode)</h2>
</div>
<p>
    @Html.ActionLink("هوجی بوجی", "Index")
</p>
