@{
    ViewBag.Title = "هوجی بوجی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Middle">
    <div id="RightSideOfMiddle">
        @*<div id="News">
                <div id="NewsSubjectHolder">تازه ترین اخبار</div>
                <div id="ShortNews">
                    <div id="NewsFirst">
                        <div class="NewsText">
                            <div class="SubNewsText">سامسونگ تبلت گلکسی ویو را رسما معرفی کرد</div>
                            <div class="DateOfNews">یکشنبه - 8 آبان 1394</div>
                        </div>
                        <div class="NewsThumNail"><img src="~/Img/MainPage/NewsThumbs/NewsThumb_1.jpg"></div>
                    </div>
                    <div id="NewsSeconde">
                        <div class="NewsText">
                            <div class="SubNewsText">نقد و بررسی تبلت Zentab 8.0</div>
                            <div class="DateOfNews">یکشنبه - 8 آبان 1394</div>
                        </div>
                        <div class="NewsThumNail"><img src="~/Img/MainPage/NewsThumbs/NewsThumb_2.jpg"></div>
                    </div>
                    <div id="NewsThird">
                        <div class="NewsText">
                            <div class="SubNewsText">بازی های سونی مشتری دارند ، گوشی هایش نه</div>
                            <div class="DateOfNews">یکشنبه - 8 آبان 1394</div>
                        </div>
                        <div class="NewsThumNail"><img src="~/Img/MainPage/NewsThumbs/NewsThumb_3.jpg"></div>
                    </div>
                    <div id="NewsForth">
                        <div class="NewsText">
                            <div class="SubNewsText">بهترین مقاله‌های دانش در هفته‌ای که گذشت</div>
                            <div class="DateOfNews">یکشنبه - 8 آبان 1394</div>
                        </div>
                        <div class="NewsThumNail"><img src="~/Img/MainPage/NewsThumbs/NewsThumb_4.jpg"></div>
                    </div>
                </div>
                <div id="SeeMoreNews">برای دیدن اخبار بیشتر کلیک کنید</div>
            </div>*@
        <div id="AdPlace">
            @*<img src="~/Img/Ad/golBano1.jpg" />
                <img src="~/Img/Ad/golBano2.jpg" />
                <img src="~/Img/Ad/katoniLand.jpg" />
                <img src="~/Img/Ad/torkShop.jpg" />*@
            <div class="BigAd" style="width:100%;"><a href="/shop/code/42"><img src="~/Img/Ad/torkShop.jpg" alt="" /></a></div>
            <div class="BigAd" style="width:100%;"><a href="/shop/code/74"><img src="~/Img/Ad/sismonyVorojak.jpg" alt="" /></a></div>
            <div class="BigAd" style="width:100%;"><a href="/shop/code/67"><img src="~/Img/Ad/talaForoshi.jpg" alt="" /></a></div>
            <div class="BigAd" style="width:100%;"><a href="/shop/code/36"><img src="~/Img/Ad/golBano1.jpg" alt="" /></a></div>
            @*<div class="BigAd" style="width:100%;"><img src="~/Img/MainPage/ad_Big_1.jpg" alt="" /></div>
                <div class="BigAd" style="width:100%;"><img src="~/Img/MainPage/ad_Big_2.jpg" alt="" /></div>
                <div class="BigAd" style="width:100%;"><img src="~/Img/MainPage/ad_Big_1.jpg" alt="" /></div>*@
            <div class="BigAd" style="width: 100%;text-align: center;">
                <img id='rgvldrftxlapwmcsxlap' style='width: 72%;cursor:pointer' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=51383&p=yncrnbpdfuixaqgwfuix", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=51383&p=fujylznbvjymukaqvjym' />
            </div>
             @*<div class="BigAd" style="width: 100%;text-align: center;">
                <img id='fukzesgtnbqesizpjxlz' style='width: 58%;cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=60291&p=gvkaobpduiwkpfvlrfth", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=60291&p=wlbqlymaodrfbsiynbpd' />
            </div>*@

            @*<div class="NormalAd" style="width:100%;"></div>
                <div class="NormalDoubleAd" style="width:100%; ">
                    <div class="InnerNormalDouble" style="width:48%;"></div>
                    <div class="InnerNormalDoubleSeconde" style="width:48%;"></div>
                </div>
                <div class="NormalThripleAd" style="width:100%;">
                    <div class="InnerNormalThriple" style="width:31.5%;"></div>
                    <div class="InnerNormalThriple" style="width:31.5%;"></div>
                    <div class="InnerNormalThriple" style="width:31.5%;"></div>
                </div>*@
        </div>
    </div>
    <div id="LeftSideOfMiddle">

        <div id="Slider">
            <div class="slider-container" id="slider-container">
                <div class="slider">
                    <div class="slide"> <img src="~/Img/MainPage/Slides/slide_1.jpg" alt=""> </div>
                    <div class="slide"> <img src="~/Img/MainPage/Slides/slide_2.jpg" alt=""> </div>
                    <div class="slide"> <img src="~/Img/MainPage/Slides/slide_3.jpg" alt=""> </div>
                    <div class="slide"> <img src="~/Img/MainPage/Slides/slide_4.jpg" alt=""> </div>
                    <div class="slide"> <img src="~/Img/MainPage/Slides/slide_5.jpg" alt=""> </div>
                </div>
                <div class="switch AnimatePerv" id="prevv"><span></span></div>
                <div class="switch AnimateNext" id="nextt"><span></span></div>
            </div>
        </div>

        @*<div id="Specials">
                <div id="SpecialInner_a"><img src="~/Img/MainPage/Specials/Special_1.jpg" alt="" /></div>
                <div id="SpecialInner_b"><img src="~/Img/MainPage/Specials/Special_2.jpg" alt="" /></div>
                <div id="SpecialInner_c"><img src="~/Img/MainPage/Specials/Special_3.jpg" alt="" /></div>
                <div id="SpecialInner_d"><img src="~/Img/MainPage/Specials/Special_4.jpg" alt="" /></div>
            </div>*@
        <div id="Specials">
            <div class="SpecialInner">
                <a href="~/product/73">
                    <div class="SpecialThumb"><img src="~/Img/Ad/torkShop2.jpg" alt="" /></div>
                    <div class="SpecialExp lightGreen">
                        <div class="SpecialName">
                            مانتو ورسا ژاکارد
                         </div>
                         <div class="SpecialDetailFirst"  style="background:none">خوش دوخت  </div>
                        <div class="SpecialDetailSeconde"  style="background:none">در انواع سایز مختلف</div> 
                        <div>  سایز ها : 36 , 38 , 40 , 42 , 44 , 46</div>
                        <div class="SpecialPrice">
                            <div class="SpecialPriceMount lightGreenColor">تومان</div>
                            <div class="SpecialPriceAfter lightGreen">70,000</div>

                            <div class="SpecialPriceBefore lightGreenColor"> </div>
                       </div>
                    </div>
                    <div class="Rec lightGreen"></div>
                </a>
            </div>
            <div class="SpecialInner">
                <a href="~/product/782">
                    <div class="SpecialThumb"><img src="~/Img/Ad/khanePoshakBanovan.jpg" /></div>
                    <div class="SpecialExp lightRed">
                        <div class="SpecialName">مانتو  مجلسی ترک</div>
                        <div class="SpecialDetailFirst" style="background:none">جنس : کرپ</div>
                        <div class="SpecialDetailSeconde"  style="background:none">در سایز های مختلف</div>
                        <div class="SpecialPrice">
                            <div class="SpecialPriceMount lightRedColor">تومان</div>

                            <div class="SpecialPriceAfter lightRed">86,000</div>
                            <div class="SpecialPriceBefore lightRedColor"> </div>

                        </div>
                    </div>
                    <div class="Rec lightRed"></div>
                </a>
            </div>
        </div>
        @*<div id="GuideAnimation"></div>
            <div id="GuideAnimation_a"></div>
            <div id="GuideAnimation_b"></div>
            <div id="GuideAnimation_c"></div>
            <div id="SpecialGuide"></div>*@


        <div id="OffSell" class="Purple">
            <div id="SubjectOff">
                <div id="ThumbnailBest"> </div>
                <div id="SubjectTextOff">پر بازدید ترین کالاها</div>
            </div>
            <div class="span12">
                <a id="Prev" class="btn prev"></a>
                <div id="owl-demo" class="owl-carousel">


                </div>
                <a id="Next" class="btn next"></a>
            </div>
        </div>





        <div id="BestSell" class="lightRed">
            <div id="SubjectBest">
                <div id="ThumbnailOff"> </div>
                <div id="SubjectTextBest">جدید ترین کالاها</div>
            </div>
            <div class="span12">
                <a id="Prev_b" class="btn prev_b"></a>
                <div id="owl-demo_b" class="owl-carousel">

                </div>
                <a id="Next_b" class="btn next_b"></a>
            </div>
        </div>
        <div id="MostSell" class="lightBlue">
            <div id="SubjectMost">
                <div id="ThumbnailMost"></div>
                <div id="SubjectTextMost"> جدید ترین فروشگاه ها</div>
            </div>
            <div class="span12">
                <a id="Prev_c" class="btn prev_c"></a>
                <div id="owl-demo_c" class="owl-carousel">

                </div>
                <a id="Next_c" class="btn next_c"></a>
            </div>
        </div>
    </div>
</div>




@section Script{

    <link href="~/Css/MainPage/MainPage.css" rel="stylesheet" />
    <link href="~/Css/MainPage/slider.css" rel="stylesheet" />
    <link href="~/Css/MainPage/owl.carousel.css" rel="stylesheet" />
    <link href="~/Css/MainPage/owl.theme.css" rel="stylesheet" />
    <style>
        #owl-demo .item {
            margin: 10px;
            color: #FFF;
            height: auto;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            text-align: center;
            min-height: 260px;
        }

        #owl-demo_b .item {
            margin: 10px;
            color: #FFF;
            height: auto;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            text-align: center;
            min-height: 260px;
        }

        #owl-demo_c .item {
            margin: 10px;
            color: #FFF;
            height: auto;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            text-align: center;
            min-height: 260px;
        }

        .customNavigation {
            text-align: center;
        }

            .customNavigation a {
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
    </style>


    <script src="~/Js/FirstPage.js"></script>


    <script>
        var noProductPic = "Img/MainPage/NoProductPic.png",
           noStorePic = "Img/MainPage/NoStorePic.png",
           //root = "@Url.Content("~/")";
           root = "http://hoojibooji.com/";



        $('#SpecialGuide').on("click", function () {

            $("body, html").animate({
                scrollTop: $("#Specials").offset().top
            }, "slow");
        });



        $.ajax({
            type: "POST",
            url: "/api/product/search",
            data: {
                sortBy: 3
            },

            success: function (result) {


                if (result.Success != true) {
                    console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    return;
                }

                var text = '';
                $.each(result.Response.ProductsSummery, function (index, value) {

                    if (value.ImgAddress == null) value.ImgAddress = noProductPic;
                    var PriceTemp = value.Price + '';
                    PriceTemp = PriceTemp.replace(/,/g, '').replace(/(\d)(?=(\d{3})+$)/g, '$1,');

                    text += "" +
                        "<a href='/product/" + value.Id + "' ><div class='item'>" +
                        //"      <div class='MostItemIcon DarkRed'>" +
                        //"     300" +
                        //"        <p>نفر</p>" +
                        //" </div>" +
                        "   <div class='MostItemPic'><img src='" + root + value.ImgAddress + "' alt='" + value.Name + "' /></div>" +
                        "   <div class='MostItemSub'>" + value.Name + "</div>" +
                        "   <div class='MostItemExp'>" +
                        "  <p dir='rtl'>" + PriceTemp + " تومان</p>" +
                        " </div>" +
                        " </div></a>";
                });


                $("#owl-demo").append(text);


                var owl1 = $("#owl-demo");

                owl1.owlCarousel({
                    rtl: true,
                    items: 5, //10 items above 1000px browser width
                    itemsDesktop: [1100, 5], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 5], // 3 items betweem 900px and 601px
                    itemsTablet: [600, 5], //2 items between 600 and 0;
                    itemsMobile: [400, 5] // itemsMobile disabled - inherit from itemsTablet option

                });

                // Custom Navigation Events
                $(".next").click(function () {
                    owl1.trigger('owl.next');
                })
                $(".prev").click(function () {
                    owl1.trigger('owl.prev');
                })
                $(".play").click(function () {
                    owl1.trigger('owl.play', 1000);
                })
                $(".stop").click(function () {
                    owl1.trigger('owl.stop');
                })

                //owl1.trigger('owl.prev');


            },
            error: function () {
                console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
            }
        });


        $.ajax({
            type: "POST",
            url: "/api/product/search",
            data: {
                sortBy: 1
            },

            success: function (result) {

                if (result.Success != true) {
                    console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
                    return;
                }

                var text = '';
                $.each(result.Response.ProductsSummery, function (index, value) {
                    if (value.ImgAddress == null) value.ImgAddress = noProductPic;
                    var PriceTemp = value.Price + '';
                    PriceTemp = PriceTemp.replace(/,/g, '').replace(/(\d)(?=(\d{3})+$)/g, '$1,');

                    text += "" +
                        "<a href='/product/" + value.Id + "'  ><div class='item'>" +
                        //"      <div class='MostItemIcon DarkRed'>" +
                        //"     300" +
                        //"        <p>نفر</p>" +
                        //" </div>" +
                        "   <div class='MostItemPic'><img src='" + root + value.ImgAddress + "' alt='" + value.Name + "' /></div>" +
                        "   <div class='MostItemSub'>" + value.Name + "</div>" +
                        "   <div class='MostItemExp'>" +
                        "  <p dir='rtl'>" + PriceTemp + " تومان</p>" +
                        " </div>" +
                        " </div></a>";

                });

                $("#owl-demo_b").append(text);

                var owl2 = $("#owl-demo_b");

                owl2.owlCarousel({
                    rtl: false,
                    items: 5, //10 items above 1000px browser width
                    itemsDesktop: [1100, 5], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 5], // 3 items betweem 900px and 601px
                    itemsTablet: [600, 5], //2 items between 600 and 0;
                    itemsMobile: [400, 5] // itemsMobile disabled - inherit from itemsTablet option

                });

                // Custom Navigation Events
                $(".next_b").click(function () {
                    owl2.trigger('owl.next');
                })
                $(".prev_b").click(function () {
                    owl2.trigger('owl.prev');
                })
                $(".play").click(function () {
                    owl2.trigger('owl.play', 1000);
                })
                $(".stop").click(function () {
                    owl2.trigger('owl.stop');
                })

                //owl2.trigger('owl.prev');


            },
            error: function () {
                console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
            }
        });




        $.ajax({
            type: "GET",
            url: "/api/firstPage/GetNewestStore",


            success: function (result) {

                if (result.Success != true) {
                    console.log(" .ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید ، کد خطا : " + result.TrackingCode);
                    return;
                }

                var text = '';

                $.each(result.Response, function (index, value) {

                    if (value.LogoAddress == null) value.LogoAddress = noStorePic;

                    text += "" +
                        "<a href='/shop/code/" + value.Id + "' > <div class='item'>" +
                        //"      <div class='MostItemIcon DarkRed'>" +
                        //"     300" +
                        //"        <p>نفر</p>" +
                        //" </div>" +
                        "   <div class='MostItemPic'><img src='" + root + value.LogoAddress + "' alt='" + value.Name + "' /></div>" +
                        "   <div class='MostItemSub'>" + value.Name + "</div>" +
                        "   <div class='MostItemExp'>";
                    if (value.CityName == '-') {
                        text += "  <p dir='rtl'> فروشگاه مجازی</p>";
                    } else {
                        text += "  <p dir='rtl'> شهر :  " + value.CityName + "</p>";
                    }
                    text += " </div>" +
                  " </div></a>";

                });

                $("#owl-demo_c").append(text);


                var owl3 = $("#owl-demo_c");

                owl3.owlCarousel({
                    rtl: true,
                    items: 5, //10 items above 1000px browser width
                    itemsDesktop: [1100, 5], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 5], // 3 items betweem 900px and 601px
                    itemsTablet: [600, 5], //2 items between 600 and 0;
                    itemsMobile: [400, 5] // itemsMobile disabled - inherit from itemsTablet option

                });

                // Custom Navigation Events
                $(".next_c").click(function () {
                    owl3.trigger('owl.next');
                })
                $(".prev_c").click(function () {
                    owl3.trigger('owl.prev');
                })
                $(".play").click(function () {
                    owl3.trigger('owl.play', 1000);
                })
                $(".stop").click(function () {
                    owl3.trigger('owl.stop');
                })


                // owl3.trigger('owl.prev');



            },
            error: function () {
                console.log("ارتباط با سرور برقرار نشد ، لطفا مدتی بعد دوباره امتحان نمایید");
            }
        });


        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90647252-1', 'auto');
        ga('send', 'pageview');

    </script>

}