@{
    ViewBag.title = "قوانین سایت";
    ViewBag.keywords = "قوانین سایت ، قوانین سایت هوجی بوجی ، قوانین فروشندگان ، قوانین خریداران ";
    ViewBag.description = "قوانین خریداران و فروشندگان سایت هوجی بوجی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="organizer staticCover textInCenter">
        <img src="~/newAsset/images/timeMoney.svg" height="100%" />
    </div>
    <div class="organizer">
        <div class="sizeManager">
            <div class="staticSubject standardDoubleVerticalMargin organzier greenColor twentyTwoFontsize thickFont"><span class="icon icon-hammer2 twentyTwoFontsize standardHalfHorizontalLeftMargin"></span> قوانین سایت</div>
            <div class="organizer standardBottomVerticalMargin">
                فروشندگان ابتدا باید از مطابقت داشتن فعالیت ها، مبادلات و فروش کالای خود با قوانین سایت اطمینان حاصل نمایند. در صورت منطبق نبودن آنها با قوانین سایت، از انجام هر یک از این امور جلوگیری شده و همچنین
                ممکن است تغییرات دیگری نظیر ایجاد محدودیت در تسهیلات خرید و فروش و حتی بسته شدن حساب کاربر خاطی اعمال شود. این قوانین یا به دلیل مغایرت این کالاها و فعالیت ها با قوانین کشوری می باشد و یا اینکه
                با خط مشی و قوانین هوجی بوجی مطابقت ندارد.
                <p>اقلام مندرج در این لیست تحت هیچ شرایطی نمی توانند مورد خرید و فروش قرار گیرند</p>
            </div>
            <div class="organizer standardTopVerticalMargin">
                <div class="mainTimeline organizer rightGreenBorder">
                    <div class="mainTitleInner organizer">

                        <div class="mainTitleSubject organizer moveFromBottom">
                            <span class="mediumCircle goRight greenBack compeletRadius inlineList"></span>
                            <div class="goRight inlineList smallSub">
                                <span class="greenColor eightyFontsize organizer thickFont">لیست فعالیت های ممنوعه</span>
                                <span class="almostGrayColor organizer">کاربران می‌بایست هنگام داد و ستد از طریق سایت، از ارتکاب موارد زیر خودداری نمایند</span>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    تخلف ازهریک از بخش های توافق نامه کاربری،حفظ حریم شخصی و دستورالعمل حل اختلاف با هوجی بوجی مجاز نمی باشد
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    تخطی از قوانین و مقررات جمهوری اسلامی ایران اعم از قوانین جزایی، مدنی، مالی، تجاری، بانکی، مالیاتی، گمرکی، اداری و به طور خاص قانون تجارت الکترونیک، قانون جرائم رایانه‌ای و قانون مبارزه با پول‌شویی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    نقض حقوق مولفین ، مصنفین و هنرمندان و یا حقوق مندرج در قانون ثبت اختراعات، طرح‌های صنعتی و علایم تجاری، حقوق منبعث از قانون حمایت از حقوق پدیدآورندگان نرم‌افزارهای رایانه‌ای، حقوق مذکور در قانون ترجمه و تکثیر کتب و نشریات و آثار صوتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ارایه اطلاعات مخدوش نادرست و غیر موثق
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    فروش و عرضه اجناس تقلبی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ارتکاب عملی که کلاهبرداری و یا در حکم آن به شمار بیاید
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    عدم همکاری در تحقیقات و یا عدم تأیید اطلاعاتی که به سایت داده‌ شده است
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    استفاده از پروکسی ناشناس
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    استفاده از حساب کاربری هوجی بوجی که سابقا با این موارد ممنوعه مرتبط باشد
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    انجام مبادله یا استفاده از خدمات به نحوی که منجر به طرح شکایت یا اخذ جریمه‌ از هوجی بوجی یا هر یك از کاربران شود
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    سوءاستفاده یا تخلف از قوانین جرائم رایانه ایی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    افشا یا انتشار اطلاعات کاربران دیگر و یا استفاده از آن اطلاعات برای اهداف تجاری
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ارسال پیام‌های الکترونیکی ناخواسته و هرزنامه‌ها به سایر کاربران یا سوء استفاده از خدمات برای کسب منفعت مالی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    تلاش برای مداخله و اخلال در سایت یا خدمات ایسام
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    هرگونه کپی‌برداری جزئی یا کلی از سایت بدون اخذ اجازه قبلی از شرکت ایسام
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    استفاده از نرم‌افزارهای اخلال‌گر مانند ویروس‌ها و تروجان‌ها و کرم‌های اینترنتی که موجب اخلال در کار رایانه‌های شرکت یا سرقت اطلاعات شود
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    انجام امور مرتبط با خیریه و جمع آوری کمک های مالی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    انجام معامله خارج از سایت هوجی بوجی به هر شکلی مجاز نمی باشد. تبادل هرگونه اطلاعات تماس و یا دادن پیشنهاد جهت انجام معامله خارج از سایت هوجی بوجی ممنوع است
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    انجام فعالیت های ممنوع ذکر شده در سایت کارگروه تعیین مصادیق محتوای مجرمانه <a href="http://internet.ir" target="_blank" style="font-weight: bold">http://internet.ir</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="mainTitleInner standardTopDoubleVerticalMargin organizer">

                        <div class="mainTitleSubject organizer moveFromBottom">
                            <span class="mediumCircle goRight greenBack compeletRadius inlineList"></span>
                            <div class="goRight inlineList smallSub">
                                <span class="greenColor eightyFontsize organizer thickFont">لیست مبادلات ممنوعه</span>
                                <span class="almostGrayColor organizer">انجام مبادلات زیر در هوجی بوجی ممنوع بوده و از خدمات سایت محروم‌ خواهند بود</span>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلات مرتبط با ارایه خدمات
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلات مربوط به فروش اجناسی که متعلق به فروشنده نیستند یا فروشنده مجاز به فروش آن‌ها نیست
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلاتی که منجر به نقض حقوق مالکیت فکری کالاهایی که دارای چنین حقوقی هستند گردد
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلات مرتبط با اموال تاريخی، فرهنگی به دست آمده از حفاری غیرمجاز
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلاتی که اطلاعات شخصی افراد دیگر را به طور غیرقانونی فاش می‌کند
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلات مربوط به شرکت‌های هرمی، برنامه‌های شبکه‌ای و برنامه‌های بازاریابی چندسطحی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    قمار و شرط‌ بندی و سایر فعالیت‌هایی که با دریافت مبلغی برای شرکت در مسابقه جایزه می‌دهند
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلاتی که افراد مختلف بدان وسیله به نمایندگی از طرف فروشندگان وجوه را دریافت و جمع‌آوری می‌کنند
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    مبادلاتی که طبق قوانین جمهوری اسلامی مجاز شمرده نمی شود
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="mainTitleInner standardTopDoubleVerticalMargin organizer">

                        <div class="mainTitleSubject organizer moveFromBottom">
                            <span class="mediumCircle goRight greenBack compeletRadius inlineList"></span>
                            <div class="goRight inlineList smallSub">
                                <span class="greenColor eightyFontsize organizer thickFont">لیست فعالیت های ممنوع مرتبط با ثبت کالا</span>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالای بدون عکس
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا با تصویر نامرتبط
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالای نامشخص و کلی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای تبلیغاتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای خدماتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت اعضای بدن
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت اموال غیرمنقول
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای قاچاق و دولتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا با عناوین تبلیغاتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا با هزینه پستی نامتعارف
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت هزینه پستی برای کالای مجازی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت چندین کالای نامرتبط در یک کالا
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالای دست دوم با تصویر اینترنتی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا با مشخصات و توضیحات نامرتبط
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای منتسب به رژیم اشغال گر قدس
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت عنوان و توضیحات کالا با حروف انگلیسی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا با قیمت بیشتر از بیست میلیون تومان
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالا به صورت غیر اختصاصی برای کاربر خاص
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهایی که مبادله آنها طبق قانون ممنوع است
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت اموال سرقتی و کالاهای با شماره سریال پاک شده
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهایی که برای مصرف‌کننده خطر جدی در پی دارد
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهایی که مبادله آنها دارای مقررات و نظامات خاص است
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای به‌دست‌آمده از ارتکاب جرم یا نقض مقررات كشوری
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت مواد مخدر و روان گردانها ، عناصر سازنده و متعلقات مربوط به آنها
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای خلاف شئون و یا دارای عناوین و تصاویر خلاف شئون
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای مرتبط با بخت‌آزمایی، قمار و شرط‌ بندی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالای مرتبط با بازاریابی شبکه ای، چندمرحله ای، هرمی، ماتریسی و غیره
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای تکراری (توجه: ثبت دو کالای یکسان با دو شماره سریال متفاوت نیز کالای
                                    تکراری محسوب می شود.)
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت آگهی خرید (کاربران به جای ثبت آگهی خرید، می توانند به گروه کالای مورد نظر مراجعه و آن کالا را خریداری کنند)
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت تاکسی درمی تمام گونه های حیوانات (نظیر حرام گوشت، حلال گوشت، اهلی، وحشی و حتی
                                    با مجوز تاکسی درمی و شکار)
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهایی که نیاز به خدمات پیش و پس از فروش دارند
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت كالاهایی كه در توضيح آنها از مفاهيم انتزاعی در حوزه دين و اعتقادات مردمی استفاده شده است
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای دارای خواص معنوی و یا ارزش معنوی (متبرک)، حرز، دعا، طلسم، سحر، جادو و جنبل، بخت، شانس، اقبال، یمن، گشایش امور، رزق و روزی
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای متعلق به میراث فرهنگی کشور
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کالاهای ممنوع ذکر شده در سایت کارگروه تعیین مصادیق محتوای مجرمانه <a href="http://internet.ir" target="_blank" style="font-weight: bold">http://internet.ir</a>
                                </div>
                            </div>
                        </div>

                        <div class="organizer standardRightDoubleVerticalMargin rightGrayBorder standardHalfVerticalPadding">
                            <div class="smallSub organizer moveFromBottom">
                                <span class="smallCircle goRight darkGray compeletRadius inlineList"></span>
                                <div class="goRight darkGrayColor">
                                    ثبت کلیه کالاهایی که طبق قوانین جمهوری اسلامی غیرمجاز می باشند
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
