<div id="Search_Task_Open" class="openUpSearch relativeMatter openUpObject boxElement radiusBox" style="display: none">
    <div class="verticalLine objectInMiddle"></div>
    <div class="twoFullColumn searchInProducts">
        <div class="noProductFound textInCenter" ng-show="searchResult.ProductsResult.length=0">
            <div class="organizer">
                <img src="~/newAsset/images/mailbox-empty-tool.svg" width="90" />
            </div>
            <div class="organizer thickFont">محصولی یافت نشد</div>
            <div class="organizer twelveFontSize">با کلمه دیگری تلاش کنید</div>
        </div>
        <div class="titleBar relativeMatter thickFont organizer standardPadding">
            <div class="titleSubject goRight"><span class="icon icon-barcode"></span> محصولات</div>
            @*<div class="titleSeemore goLeft greenColor thirteenFontSize">بیشتر ببینید</div>*@
        </div>


        <!-- be ezaye har element yaft shode ye seperator line miad be joz element akhar k badesh nmiad separator line -->
        <div ng-repeat="productsResult in searchResult.ProductsResult" ng-show="searchResult.ProductsResult.length>0">
            <div class="itemContainer organizer standardPadding relativeMatter">
                <a href="~/product/{{productsResult.ProductId}}">
                    <div class="oneThreeFullColumn">
                        <div class="circleImageContainer">
                            <img ng-src="/{{productsResult.ProductImgAddress?productsResult.ProductImgAddress:noProductPic}}" alt="{{productsResult.ProductName}}" class="imageInMiddle">
                        </div>
                    </div>
                    <div class="twoThreeFullColumn">
                        <div class="itemInfoes verticallyInCenter">
                            <div class="itemTitle greenColor organizer thirteenFontSize">iphone 6S 64GB</div>
                            <div class="itemTags organizer">
                                <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack">نام فروشگاه</div>
                            </div>
                        </div>
                    </div>
                    <div class="separatorLine organizer"></div>
                    <div class="itemContainer organizer standardPadding relativeMatter">
                        <div class="oneThreeFullColumn">
                            <div class="circleImageContainer">
                                <img src="" alt="" class="imageInMiddle">
                            </div>
                        </div>
                        <div class="twoThreeFullColumn">
                            <div class="itemInfoes verticallyInCenter">
                                <div class="itemTitle greenColor organizer thirteenFontSize" ng-bind="productsResult.ProductName"> </div>
                                <div class="itemTags organizer">
                                    <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="productsResult.StoreName">نام فروشگاه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="twoFullColumn searchInStore">

        <div class="noStoreFound objectInMiddle textInCenter" ng-show="searchResult.StoresResult.length=0">
            <div class="organizer">
                <img src="~/newAsset/images/store.svg" width="90" />
            </div>
            <div class="organizer thickFont">فروشگاهی یافت نشد</div>
            <div class="organizer twelveFontSize">با کلمه دیگری تلاش کنید</div>
        </div>

        <div class="titleBar relativeMatter thickFont organizer standardPadding">
            <div class="titleSubject goRight"><span class="icon icon-cart"></span>  فروشگاه</div>
            @*<div class="titleSeemore goLeft pinkColor thirteenFontSize">بیشتر ببینید</div>*@
        </div>
        <div class="itemContainer organizer borderBottom" ng-repeat="storesResult in searchResult.StoresResult" ng-show="searchResult.StoresResult.length>0">
            <a href="~/shop/code/{{storesResult.Id}}">
                <div class="itemContainer organizer radiusBox standardPadding relativeMatter">
                    <div class="oneThreeFullColumn">
                        <div class="circleImageContainer">
                            <img ng-src="/{{storesResult.ImgAddress?storesResult.ImgAddress:noStorePic}}" alt="{{storesResult.Name}}" class="imageInMiddle">
                        </div>
                    </div>
                    <div class="twoThreeFullColumn">
                        <div class="itemInfoes verticallyInCenter">
                            <div class="itemTitle greenColor organizer darkGray thirteenFontSize" ng-bind="storesResult.Name"> </div>
                            @*<div class="itemDetail organizer smallExplain greenColor smallVerticalPadding" ng-bind="storesResult.CityName"> </div>*@
                            <div class="itemTags organizer">
                                <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="storesResult.CityName"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="separatorLine organizer"></div>
        </div>

    </div>

</div>
